a,
a:link,
a:visited {
   cursor: pointer;
   text-decoration: none;
}
a:hover h5:first-of-type,
a:focus-visible h5:first-of-type,
a:active h5:first-of-type {
   text-decoration: 2px underline var(--clr-kunzitt);
   text-underline-offset: 3px;
}
.fargetHover {
   outline: 2px solid var(--clr-ramme);
}
.fargetHover:hover,
.fargetHover:focus-visible {
   transition: outline 0.1s ease-in-out;
   outline: 2px solid var(--clr-kunzitt);
}
.bildeKarusell img:not(.aktivtKarusellBilde) {
   filter: grayscale(0.8);
   transition: all 100ms ease-in-out;
   outline: 1px solid var(--clr-ramme);
}
.bildeKarusell img:not(.aktivtKarusellBilde):hover,
.bildeKarusell img:not(.aktivtKarusellBilde):focus-visible {
   transition: all 100ms ease-in-out;
   filter: grayscale(0);
   outline: 3px solid var(--clr-kunzitt);
}

.aktivtKarusellBilde {
   filter: none;
   outline: 3px solid var(--clr-kunzitt);
}
.fargetTekst {
   color: var(--clr-kunzitt);
}
.fargetFyll {
   background-color: var(--clr-kunzitt);
}
.fargetRamme {
   border-color: var(--clr-kunzitt);
}
.fargetLinje {
   text-decoration: 2px underline var(--clr-kunzitt);
   text-underline-offset: 3px;
}
.fargetHeroLinje {
   text-decoration: 4px underline var(--clr-kunzitt);
   text-underline-offset: 4px;
}
ul li p::before {
   color: var(--clr-kunzitt);
}
.fargetFilter {
   background-color: var(--clr-kunzitt);
   color: var(--clr-bakgrunn);
}
.kategoriFilter button:hover,
.kategoriFilter button:focus-visible {
   border: 2px solid var(--clr-kunzitt);
}
.hovedmenyKnappAktiv h3 {
   text-decoration: 2px underline var(--clr-kunzitt);
   text-underline-offset: 3px;
}
