/* ___________ Generelle farger ___________ */
.fargetRamme {
   border-color: var(--clr-citrin);
}
.fargetLinje {
   text-decoration: 2px underline var(--clr-citrin);
   text-underline-offset: 3px;
}
.fargetHeroLinje {
   text-decoration: 4px underline var(--clr-citrin);
   text-underline-offset: 4px;
}
.fargetTekst {
   color: var(--clr-citrin);
}
/* ___________ hover-effekt .svg ___________ */
.kategoriKnapp:hover .fargetFyll,
.kategoriKnapp:focus-visible .fargetFyll,
.kategoriLenke:hover .fargetFyll,
.kategoriLenke:focus-visible .fargetFyll {
   background-color: var(--clr-citrin);
}

/* ___________ hover-effekt Knapper ___________ */
.kategoriLenke:hover .kategoriKnappTittel,
.kategoriLenke:hover .kategoriKnappIkon,
.kategoriLenke:hover .kategoriKnappTittel,
.kategoriLenke:hover .kategoriKnappIkon,
.kategoriKnapp:hover .kategoriKnappTittel,
.kategoriKnapp:hover .kategoriKnappIkon,
.kategoriKnapp:hover .kategoriKnappTittel,
.kategoriKnapp:hover .kategoriKnappIkon {
   border-color: var(--clr-citrin);
}
.kategoriFilter button:hover,
.kategoriFilter button:focus-visible {
   border: 2px solid var(--clr-citrin);
}

/* ___________ hover-effekt Bilder ___________ */
.fargetHover {
   border: 2px solid var(--clr-ramme);
}
.fargetHover:hover,
.fargetHover:focus-visible {
   transition: border 0.1s ease-in-out;
   border: 2px solid var(--clr-citrin);
}

/* ___________ Punktlistefarge ___________ */
ul li p::before {
   color: var(--clr-citrin);
}

/* ___________ Bildefremvisning ___________ */
.bildeKarusell img:not(.aktivtKarusellBilde) {
   filter: grayscale(0.8);
   transition: all 100ms ease-in-out;
   border: 2px solid var(--clr-ramme);
}
.bildeKarusell img:not(.aktivtKarusellBilde):hover,
.bildeKarusell img:not(.aktivtKarusellBilde):focus-visible {
   transition: all 100ms ease-in-out;
   filter: grayscale(0);
   border: 2px solid var(--clr-citrin);
}
.aktivtKarusellBilde {
   filter: none;
   border: 3px solid var(--clr-citrin);
}
.fargetFilter {
   background-color: var(--clr-citrin);
   color: var(--clr-bakgrunn);
}
/* ___________ Hovedmenyen ___________ */
.fargetFyll {
   background-color: var(--clr-tekst);
}
#mainMenu li a:focus-visible,
#mainMenu li a:focus-visible .hovedmenyIkon,
#mainMenu li a:hover,
#mainMenu li a:hover .hovedmenyIkon {
   border-color: var(--clr-citrin);
}
#mainMenu li a:hover .hovedmenyIkon .fargetFyll {
   background-color: var(--clr-citrin);
}
.mainBlur {
   background-color: var(--clr-citrin);
}
.nettResFlex a:hover,
.nettResFlex a:focus-visible,
.nettResFlexKol a:hover,
.nettResFlexKol a:focus-visible {
   border-color: var(--clr-citrin);
}
