a,
a:link,
a:visited {
   cursor: pointer;
   text-decoration: none;
   color: var(--clr-tekst);
}
a:hover h5:not(.infoKnappDesk, .infoKnappMob),
a:focus-visible h5:not(.infoKnappDesk, .infoKnappMob),
a:active h5:not(.infoKnappDesk, .infoKnappMob) {
   text-decoration: 2px underline var(--clr-akvamarin);
   text-underline-offset: 3px;
}
.fargetHover {
   border: 2px solid var(--clr-ramme);
}
.fargetHover:hover,
.fargetHover:focus-visible {
   transition: border 0.1s ease-in-out;
   border: 2px solid var(--clr-akvamarin);
}
.bildeKarusell img:not(.aktivtKarusellBilde) {
   filter: grayscale(0.8);
   transition: all 100ms ease-in-out;
   border: 2px solid var(--clr-ramme);
}
.bildeKarusell img:not(.aktivtKarusellBilde):hover,
.bildeKarusell img:not(.aktivtKarusellBilde):focus-visible {
   transition: all 100ms ease-in-out;
   filter: grayscale(0);
   border: 2px solid var(--clr-akvamarin);
}

.aktivtKarusellBilde {
   filter: none;
   border: 3px solid var(--clr-akvamarin);
}
.fargetTekst {
   color: var(--clr-akvamarin);
}
.fargetFyll {
   background-color: var(--clr-akvamarin);
}
.fargetRamme {
   border-color: var(--clr-akvamarin);
}
.fargetLinje {
   text-decoration: 2px underline var(--clr-akvamarin);
   text-underline-offset: 3px;
}
.fargetHeroLinje {
   text-decoration: 4px underline var(--clr-akvamarin);
   text-underline-offset: 4px;
}
ul li p::before {
   color: var(--clr-akvamarin);
}
.fargetFilter {
   background-color: var(--clr-akvamarin);
   color: var(--clr-bakgrunn);
}
.kategoriFilter button:hover,
.kategoriFilter button:focus-visible {
   border: 2px solid var(--clr-akvamarin);
}
.hovedmenyKnappAktiv h3 {
   text-decoration: 2px underline var(--clr-akvamarin);
   text-underline-offset: 3px;
}
