.hjemKnapp {
   display: grid;
   width: 35px;
   height: 35px;
   place-content: center;
   margin-inline: 1rem;
   margin-block: auto;
}

a,
a:link,
a:visited {
   cursor: pointer;
   text-decoration: 1px underline var(--clr-spessartin);
}
a:hover,
a:focus-visible,
a:active {
   color: var(--clr-spessartin);
}

.bildeKarusell img:not(.aktivtKarusellBilde) {
   filter: grayscale(0.8);
   transition: all 100ms ease-in-out;
   outline: 1px solid var(--clr-ramme);
}
.bildeKarusell img:not(.aktivtKarusellBilde):hover,
.bildeKarusell img:not(.aktivtKarusellBilde):focus-visible {
   transition: all 100ms ease-in-out;
   filter: grayscale(0);
   outline: 3px solid var(--clr-spessartin);
}

.aktivtKarusellBilde {
   filter: none;
   outline: 3px solid var(--clr-spessartin);
}
