/* ___________ Generelle farger ___________ */
.fargetRamme {
   border-color: var(--clr-rubin);
}
.fargetLinje {
   text-decoration: 2px underline var(--clr-rubin);
   text-underline-offset: 3px;
}
.fargetHeroLinje {
   text-decoration: 4px underline var(--clr-rubin);
   text-underline-offset: 4px;
}
.fargetTekst {
   color: var(--clr-rubin);
}
/* ___________ hover-effekt .svg ___________ */
/* .kategoriKnapp:hover .fargetFyll,
.kategoriKnapp:focus-visible .fargetFyll,
.kategoriLenke:hover .fargetFyll,
.kategoriLenke:focus-visible .fargetFyll {
   background-color: var(--clr-rubin);
} */

/* ___________ hover-effekt Knapper ___________ */
.kategoriLenke:hover,
.kategoriLenke:focus-visible,
.kategoriLenke:hover .kategoriKnappIkon,
.kategoriLenke:focus-visible .kategoriKnappIkon,
.kategoriKnapp:hover,
.kategoriKnapp:focus-visible,
.kategoriKnapp:hover .kategoriKnappIkon,
.kategoriKnapp:focus-visible .kategoriKnappIkon {
   border-color: var(--clr-rubin);
}
.kategoriFilter button:hover,
.kategoriFilter button:focus-visible {
   border: 2px solid var(--clr-rubin);
}

/* ___________ hover-effekt Bilder ___________ */
.fargetHover {
   border: 2px solid var(--clr-ramme);
}
.fargetHover:hover,
.fargetHover:focus-visible {
   transition: border 0.1s ease-in-out;
   border: 2px solid var(--clr-rubin);
}

/* ___________ Punktlistefarge ___________ */
ul li p::before {
   color: var(--clr-rubin);
}

/* ___________ Bildefremvisning ___________ */
.nyFane:hover,
.nyFane:focus-visible {
   color: var(--clr-rubin);
   text-decoration: underline;
}
/* ___________ Hovedmenyen ___________ */
.fargetFyll {
   background-color: var(--clr-tekst);
}
#mainMenu li a:focus-visible,
#mainMenu li a:focus-visible .hovedmenyIkon,
#mainMenu li a:hover,
#mainMenu li a:hover .hovedmenyIkon {
   border-color: var(--clr-rubin);
}
/* #mainMenu li a:hover .hovedmenyIkon .fargetFyll {
   background-color: var(--clr-rubin);
} */
.mainBlur {
   background-color: var(--clr-rubin);
}
.nettResFlex a:hover,
.nettResFlex a:focus-visible,
.nettResFlexKol a:hover,
.nettResFlexKol a:focus-visible,
.nettResMono a:hover,
.nettResMono a:focus-visible {
   border-color: var(--clr-rubin);
}
