/*______ Universelle instillinger ______*/
*,
*::before,
*::after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
   font: inherit;
}
html {
   color-scheme: dark light;
}
html,
body {
   height: 100%;
}
body {
   height: 100vh;
   height: 100dvh;
   height: 100svh;
}
img,
picture,
video {
   display: block;
   max-width: 100%;
}
/*______ Fargekoder ______*/
:root {
   /* --clr-main: #efefef;
   --clr-tekst: #3e4247;
   --clr-boks: #fefefe;
   --clr-ramme: #c7c9ca;
   --clr-tekstBoks: #cccccc; */

   --clr-main: #d3d3d3;
   --clr-tekst: #3e4247;
   --clr-ixDBoks: #f5f6f5;
   --clr-ramme: #b9bec2;
   --clr-tabellBoks: #d4d4d8;
   --clr-tekstBoks: #dfdfdf;
   --clr-bakgrunn: #b6b6b6;

   --clr-safir: #367fff; /*programfag og drzift*/
   --clr-akvamarin: #1892ba; /*yff og lyddesign*/
   --clr-amazonitt: #228468; /*kroppsøving og animasjon*/
   --clr-smaragd: #518238; /*naturfag og film-vfx*/
   --clr-citrin: #a18603; /*matte og fotografi*/
   --clr-spessartin: #d1690f; /*engelsk og 3d-grafikk*/
   --clr-rubin: #d24040; /*norsk, hoytid og 2d-grafikk*/
   --clr-thulitt: #b44f99; /*forum og innovasjon*/
   --clr-kunzitt: #9a5daf; /*midttime og teknologi*/
   --clr-ametyst: #7258bb; /*ig og utvikling*/

   --clr-skolefarge1: #ef7c00;
   --clr-skolefarge2: #000000;
}
.darkmode {
   --clr-main: #14151f;
   --clr-tekst: #a8a8a8;
   --clr-ramme: #57637a;
   --clr-ixDBoks: #0b0c13;
   --clr-tabellBoks: #1a1c29;
   --clr-tekstBoks: #262738;
   --clr-bakgrunn: #07070b;

   --clr-safir: #1fa6e2; /*programfag og drift*/
   --clr-akvamarin: #33c9c4; /*yff og lyddesign*/
   --clr-amazonitt: #35b06f; /*kroppsøving og animasjon*/
   --clr-smaragd: #839e53; /*naturfag og film-vfx*/
   --clr-citrin: #e6ce2f; /*matte og fotografi*/
   --clr-spessartin: #e68d2f; /*engelsk og 3d-grafikk*/
   --clr-rubin: #ec4f28; /*norsk, hoytid og 2d-grafikk*/
   --clr-thulitt: #c973af; /*forum og innovasjon*/
   --clr-kunzitt: #b18bf4; /*midttime og teknologi*/
   --clr-ametyst: #7b77ff; /*ig og utvikling*/

   --clr-skolefarge1: #ef7c00;
   --clr-skolefarge2: #ffffff;
}
/*______ Skolelogo ______*/
.skolefarge1 {
   fill: var(--clr-skolefarge1);
}
.skolefarge2 {
   fill: var(--clr-skolefarge2);
}
/*______ Bakgrunn- og tekstfarge ______*/
body {
   background-color: var(--clr-bakgrunn);
   color: var(--clr-tekst);
}
main {
   background-color: var(--clr-main);
}
/*______ Skrifttype ______*/
h1,
h2,
h3,
h4,
h5,
p {
   color: var(--clr-tekst);
   line-height: 1.5;
   font-weight: 300;
}
h1,
h2,
h3,
h4 {
   font-family: "Roboto Slab", serif;
}
h5,
em,
p {
   font-family: "Roboto", sans-serif;
}
h6 {
   font-family: "Roboto Mono", monospace;
}

h1 {
   font-size: clamp(1.4rem, 3vw, 2rem);
}
h2 {
   font-size: clamp(1.2rem, 2vw, 1.6rem);
   font-weight: 700;
}
h3 {
   font-size: clamp(1rem, 1.1vw, 1.2rem);
   font-weight: 500;
}
h4 {
   font-size: clamp(0.9rem, 9vw, 1.2rem);
   font-weight: 500;
}
h5 {
   font-size: clamp(0.9rem, 1.1vw, 1.1rem);
   font-weight: 500;
}
h6 {
   font-size: clamp(0.6rem, 0.8vw, 0.8rem);
   font-weight: 500;
   color: var(--clr-tekst);
}
p {
   font-size: clamp(0.8rem, 0.9vw, 1rem);
}
i {
   font-style: italic;
}
b {
   font-weight: 500;
}
em {
   font-size: clamp(0.9rem, 1.1vw, 1.1rem);
   font-weight: 700;
}
/*______ Knapper og lenker ______*/
button {
   background-color: transparent;
   border: none;
   background: none;
   cursor: pointer;
}
.kategoriFilter div {
   text-align: center;
}
a,
a:link,
a:visited {
   cursor: pointer;
   text-decoration: none;
   color: var(--clr-tekst);
}
/*____Main grid____*/
body {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows:
      1fr
      auto;
}
main {
   /* strekker innholdet i body til å dekke all tilgjengelig skjermplass */
   max-width: 1600px;
   width: 100%;
   margin-inline: auto;
   padding-block-end: 3rem;
}
/*______ Navigasjon ______*/
nav {
   position: fixed;
   top: 0;
   left: 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   place-content: center;
   background-color: var(--clr-tekstBoks);
   border-bottom: 3px solid var(--clr-ramme);
   height: 50px;
   width: 100%;
   z-index: 150;
   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.navKnapp {
   display: flex;
   width: max-content;
   place-content: center;
   margin-inline: 0.5rem;
   margin-block: auto;
}
.navIkon {
   background-color: var(--clr-tekst);
   width: 35px;
   height: 35px;
}
.logo {
   position: fixed;
   display: flex;
   align-items: center;
   place-self: center;
   font-family: "Roboto Slab", serif;
   font-weight: 700;
   font-size: 30px;
}
.logo > * {
   margin-inline: 0.5rem;
}
.breadcrumbsMenu {
   display: none;
}
#breadcrumbs {
   display: flex;
   list-style-type: none;
   padding: 0;
   height: 40px;
   align-items: center;
   padding-inline-start: 0.5rem;
}
#breadcrumbs li {
   color: var(--clr-tekst);
   line-height: 1.5;
   font-weight: 300;
   font-family: "Roboto", sans-serif;
   font-size: clamp(0.8rem, 0.9vw, 1rem);
}
#breadcrumbs li a {
   text-decoration: underline;
}
#breadcrumbs li:not(:last-child)::after {
   content: ">";
   margin-inline: 0.5rem;
}
/*__________________ Hovedmeny __________________*/
.overlayMeny {
   position: fixed;
   flex-direction: column;
   height: 100%;
   width: 100%;
   z-index: 900;
   background-color: rgba(0, 0, 0, 0.8);
   transition: display 0s 0.3s, opacity 0.3s ease-in-out;
   opacity: 0;
   display: none;
   cursor: pointer;
}
.hamburgerIkon {
   position: absolute;
   top: 0.4rem;
   right: 0.5rem;
   z-index: 1000;
}
.hovedmenyRamme {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-content: center;
   text-align: center;
   margin-inline: auto;
   right: 0;
   top: 0;
   background-color: var(--clr-tekstBoks);
   width: 350px;
   height: 100vh;
   z-index: 901;
   padding-inline: 1rem;
   padding-block-start: 3rem;
   transform: translateX(100%);
   transition: transform 0.3s ease-in-out;
   overflow-y: auto;
   padding-block-end: 2rem;
}
.hovedmenyRamme h1 {
   font-size: 2rem;
}
.hovedmenyRamme .dag-natt {
   margin-inline: auto;
}
.hovedmenyIkonRamme {
   width: 50px;
   height: 50px;
   z-index: 100;
   padding: 0.2rem;
}
.hovedmenyIkon {
   background-color: var(--clr-tekst);
   width: 100%;
   height: 100%;
}
.hovedmenyTittel {
   position: relative;
   padding-block: 0.25rem;
   padding-inline-start: 3rem;
   padding-inline-end: 2rem;
   margin-inline-start: -2.5rem;
   z-index: 90;
}
.hovedmenyKnapp {
   position: relative;
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   padding-block: 0.25rem;
   padding-inline-start: 0.25rem;
   padding-inline-end: 0.75rem;
   margin-block: 0.25rem;
   transition: all 0.1s ease-in-out;
}
.hovedmenyKnapp:hover:not(.utilgjengelig),
.hovedmenyKnapp:focus-visible:not(.utilgjengelig) {
   transition: all 0.1s ease-in-out;
   background-color: var(--clr-tabellBoks);
   border-radius: 50rem;
}
.hovedmenyKnappAktiv {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   padding-block: 0.25rem;
   padding-inline-start: 0.25rem;
   padding-inline-end: 0.75rem;
   background-color: var(--clr-tabellBoks);
   border-radius: 50rem;
}
.hovedmenyKnappAktiv h3 {
   text-decoration: 2px underline var(--clr-tekst);
   text-underline-offset: 3px;
}
.hovedmenyPil {
   position: absolute;
   bottom: 0%;
   left: 50%;
   transform: translate(-50%, 100%);
   z-index: 1000;
}
.pilStr {
   width: 10px;
   height: 7.5px;
}
.displayOutline {
   display: block;
}
.displayFill {
   display: none;
}
.hovedmenyKnapp:hover .displayOutline,
.hovedmenyKnapp:focus-visible .displayOutline {
   display: none;
}
.hovedmenyKnapp:hover .displayFill,
.hovedmenyKnapp:focus-visible .displayFill {
   display: block;
}
.flexHoyre {
   display: grid;
   align-self: center;
   justify-self: end;
   margin-inline: 0.5rem;
}
.dag-natt {
   margin-block-start: 1rem;
   width: 50px;
   height: 50px;
}
.dag-nattLiten {
   width: 35px;
   height: 35px;
}
.pil {
   background-color: var(--clr-tekst);
   width: 24px;
   height: 30px;
}
.utilgjengelig {
   opacity: 0.2;
}
.linjeskille {
   display: flex;
   border: 0.25px solid var(--clr-tekst);
   border-radius: 50rem;
   width: 200px;
   height: 0.5px;
   margin-inline: 75px;
   margin-block: 0.5rem;
}
/*______ headerområde ______*/
header {
   margin-top: 50px;
}
.headerUtenNav {
   margin-top: 50px;
}
.hero {
   position: absolute;
   top: 0;
   height: 400px; /* Sett høyden på banneret etter behov */
   width: 100%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 140;
}
.hero-bilde {
   /* Stil for bannerbildet */
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; /* Sørger for at bildet fyller hele banneret */
   object-position: bottom;
}
.hero-tittel {
   position: absolute;
   top: 20px;
   left: 20px;
   padding: 0px 10px 7.5px 7.5px; /* top | right | bottom | left */
   background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
   border-radius: 0.2rem;
}
.hero-tittel h1 {
   color: whitesmoke;
}
.hero-emblem {
   position: absolute;
   bottom: 0%;
   left: 50%;
   transform: translate(-50%, 45%);
   width: 120px;
   height: 120px;
   margin: auto;
   padding: 0.8rem;
   z-index: 110;
}
.fargetHeroLinje {
   text-decoration: 4px underline var(--clr-spessartin);
   text-underline-offset: 4px;
}
/*______ Main ______*/
.mainMedHeader,
.mainUtenNav {
   margin-top: 450px;
}
/*______ Rammer ______*/
.boksRamme {
   border-top-right-radius: clamp(0.2rem, 0.4rem, 0.6vw);
   border-top-left-radius: clamp(0.8rem, 1.2rem, 1.2vw);
   border-bottom-left-radius: clamp(0.2rem, 0.4rem, 0.6vw);
   border-bottom-right-radius: clamp(0.8rem, 1.2rem, 1.2vw);
}
.sBoksRamme {
   border-top-right-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-top-left-radius: clamp(0.4rem, 0.8rem, 0.8vw);
   border-bottom-left-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-bottom-right-radius: clamp(0.4rem, 0.8rem, 0.8vw);
}
.rundRamme {
   border-radius: 50rem;
}
.tekst {
   background-color: var(--clr-tekstBoks);
}
.ixD {
   background-color: var(--clr-ixDBoks);
}
.tab {
   background-color: var(--clr-tabellBoks);
   border-radius: clamp(0.2rem, 0.4rem, 0.6vw);
}
.xSB {
   border-color: var(--clr-ramme);
   border-width: 1px 1px 2px 2px;
   border-style: solid;
}
.nB {
   border: 2px solid var(--clr-ramme);
}
.sB {
   border-color: var(--clr-ramme);
   border-width: 2px 2px 4px 4px;
   border-style: solid;
}
.lB {
   border-width: 3px 3px 6px 6px;
   border-color: var(--clr-ramme);
   border-style: solid;
}
.xSPA {
   /* xtra small asymmetric padding */
   padding-block: 0.25rem;
   padding-inline: 0.5rem;
}
.sPA {
   /* small asymmetric padding */
   padding-block: 0.5rem;
   padding-inline: 1rem;
}

.xSPS {
   /* xtra small symmetric padding */
   padding: 0.4rem;
}
.xSPS2 {
   padding: 0.5rem;
}

.sPS {
   /* small symmetric padding */
   padding: 1rem;
}

.lP {
   padding: 1rem;
}
.xLP {
   padding: 1.25rem;
}
/*______ Liste ______*/
ul {
   list-style: none;
}
.oppdragsInfo ul,
.toKolloner ul {
   margin-block-end: 1rem;
}
.oppdragsInfo ul li,
.toKolloner ul li {
   margin-left: 1em;
}
ul li p::before {
   content: "\2022";
   color: var(--clr-tekst);
   font-weight: bold;
   display: inline-block;
   width: 1em;
   margin-left: -1em;
}
ul li a button {
   margin-left: -1em;
}
.toKolloner {
   display: grid;
   grid-template-columns: 1fr 0.75fr;
   gap: 1rem;
}
/*______ svgIkon ______*/
.svgIkon {
   background-color: var(--clr-tekst);
   width: 100%;
   height: 100%;
}
/*______ footer ______*/
footer {
   height: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   place-content: center;
   text-align: center;
   padding-inline: 1rem;
   background-color: var(--clr-tekstBoks);
   border-top: 3px solid var(--clr-ramme);
   height: 50px;
   width: 100%;
   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
/* Små flater (Tablet i portrettmodus og store mobiler, 600px og oppover) */
.infoTab,
.infoMob {
   display: none;
}
/* Store flater (laptop og desktop, opp til 992px) */
@media only screen and (max-width: 1200px) {
   .breadcrumbsMenu {
      display: block;
      position: fixed;
      top: 50px;
      left: 0;
      background-color: var(--clr-ixDBoks);
      border-bottom: 2px solid var(--clr-ramme);
      height: 40px;
      width: 100%;
      z-index: 142;
   }
   header {
      margin-top: 90px;
   }
   .mainMedHeader {
      margin-top: 490px;
   }
}

@media only screen and (max-width: 992px) {
   .infoDesk {
      display: none;
   }
   .infoTab {
      display: block;
   }
}
@media only screen and (max-width: 600px) {
   nav {
      grid-template-columns: 42px 1fr 42px;
   }
   /* .hovedmenyRamme {
      width: 100%;
   } */
   .menyKnapp {
      display: flex;
      place-items: center;
      margin-block: auto;
   }
   .logo span {
      display: none;
   }
   .infoTab {
      display: none;
   }
   .infoMob {
      display: block;
   }
   .breadcrumbsMenu {
      display: none;
   }
}
