/*______ Navigasjon ______*/
.maskeHjem {
   -webkit-mask: url(/images/svg/nav_hjem.svg) no-repeat center;
   mask: url(/images/svg/nav_hjem.svg) no-repeat center;
}
.maskeTilbake {
   -webkit-mask: url(/images/svg/nav_pil-tilbake.svg) no-repeat center;
   mask: url(/images/svg/nav_pil-tilbake.svg) no-repeat center;
}
.maskeNeste {
   -webkit-mask: url(/images/svg/nav_pil-neste.svg) no-repeat center;
   mask: url(/images/svg/nav_pil-neste.svg) no-repeat center;
}

/*______ Oppdragsbanken ______*/
.maskeGrafisk {
   background-color: var(--clr-rubin);
   -webkit-mask: url(/images/svg/ob_1_2d-grafikk.svg) no-repeat center;
   mask: url(/images/svg/ob_1_2d-grafikk.svg) no-repeat center;
}
.maskeTreD {
   background-color: var(--clr-spessartin);
   -webkit-mask: url(/images/svg/ob_2_3d-grafikk.svg) no-repeat center;
   mask: url(/images/svg/ob_2_3d-grafikk.svg) no-repeat center;
}
.maskeFoto {
   background-color: var(--clr-citrin);
   -webkit-mask: url(/images/svg/ob_3_foto.svg) no-repeat center;
   mask: url(/images/svg/ob_3_foto.svg) no-repeat center;
}
.maskeFilm {
   background-color: var(--clr-smaragd);
   -webkit-mask: url(/images/svg/ob_4_film.svg) no-repeat center;
   mask: url(/images/svg/ob_4_film.svg) no-repeat center;
}
.maskeAnim {
   background-color: var(--clr-amazonitt);
   -webkit-mask: url(/images/svg/ob_5_animasjon.svg) no-repeat center;
   mask: url(/images/svg/ob_5_animasjon.svg) no-repeat center;
}
.maskeLyd {
   background-color: var(--clr-akvamarin);
   -webkit-mask: url(/images/svg/ob_6_lyddesign.svg) no-repeat center;
   mask: url(/images/svg/ob_6_lyddesign.svg) no-repeat center;
}
.maskeDrift {
   background-color: var(--clr-safir);
   -webkit-mask: url(/images/svg/ob_7_drift.svg) no-repeat center;
   mask: url(/images/svg/ob_7_drift.svg) no-repeat center;
}
.maskeProgrammering {
   background-color: var(--clr-ametyst);
   -webkit-mask: url(/images/svg/ob_8_programmering.svg) no-repeat center;
   mask: url(/images/svg/ob_8_programmering.svg) no-repeat center;
}
.maskeWeb {
   background-color: var(--clr-kunzitt);
   -webkit-mask: url(/images/svg/ob_9_web.svg) no-repeat center;
   mask: url(/images/svg/ob_9_web.svg) no-repeat center;
}
.maskeKi {
   background-color: var(--clr-thulitt);
   -webkit-mask: url(/images/svg/ob_10_ai.svg) no-repeat center;
   mask: url(/images/svg/ob_10_ai.svg) no-repeat center;
}
.maskeSpiceMob {
   -webkit-mask: url(/images/svg/ob/ob_spice-mobil.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_spice-mobil.svg) no-repeat center;
}
.maskeSpice0 {
   -webkit-mask: url(/images/svg/ob_spiciness-0.svg) no-repeat center;
   mask: url(/images/svg/ob_spiciness-0.svg) no-repeat center;
}
.maskeSpice20 {
   -webkit-mask: url(/images/svg/ob_spiciness-20.svg) no-repeat center;
   mask: url(/images/svg/ob_spiciness-20.svg) no-repeat center;
}
.maskeSpice40 {
   -webkit-mask: url(/images/svg/ob_spiciness-40.svg) no-repeat center;
   mask: url(/images/svg/ob_spiciness-40.svg) no-repeat center;
}
.maskeSpice60 {
   -webkit-mask: url(/images/svg/ob_spiciness-60.svg) no-repeat center;
   mask: url(/images/svg/ob_spiciness-60.svg) no-repeat center;
}
.maskeSpice80 {
   -webkit-mask: url(/images/svg/ob_spiciness-80.svg) no-repeat center;
   mask: url(/images/svg/ob_spiciness-80.svg) no-repeat center;
}
.maskeSpice100 {
   -webkit-mask: url(/images/svg/ob_spiciness-100.svg) no-repeat center;
   mask: url(/images/svg/ob_spiciness-100.svg) no-repeat center;
}
.maskeSpiceGrad {
   -webkit-mask: url(/images/svg/ob_spiciness-gradient.svg) no-repeat center;
   mask: url(/images/svg/ob_spiciness-gradient.svg) no-repeat center;
}
.maskeTidTimer {
   -webkit-mask: url(/images/svg/ob_tid-timer.svg) no-repeat center;
   mask: url(/images/svg/ob_tid-timer.svg) no-repeat center;
}
.maskeTidUker {
   -webkit-mask: url(/images/svg/ob_tid-uker.svg) no-repeat center;
   mask: url(/images/svg/ob_tid-uker.svg) no-repeat center;
}
.maskeKryss {
   -webkit-mask: url(/images/svg/ob_kryss.svg) no-repeat center;
   mask: url(/images/svg/ob_kryss.svg) no-repeat center;
}
/*______ Ressursbanken ______*/
.maskeDialog {
   -webkit-mask: url(/images/svg/rb_ikon-dialog.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-dialog.svg) no-repeat center;
}
.maskeEksamen {
   -webkit-mask: url(/images/svg/rb_ikon-eksamen.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-eksamen.svg) no-repeat center;
}
.maskeLk20 {
   -webkit-mask: url(/images/svg/rb_ikon-lk20.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-lk20.svg) no-repeat center;
}
.maskeTverrfaglig {
   -webkit-mask: url(/images/svg/rb_ikon-tverrfaglig.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-tverrfaglig.svg) no-repeat center;
}
.maskeRbYFF {
   -webkit-mask: url(/images/svg/rb_ikon-yff.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-yff.svg) no-repeat center;
}
.maskeIT {
   -webkit-mask: url(/images/svg/rb_ikon-it.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-it.svg) no-repeat center;
}
.maskeMP {
   -webkit-mask: url(/images/svg/rb_ikon-mp.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-mp.svg) no-repeat center;
}
.maskeVurdering {
   -webkit-mask: url(/images/svg/rb_ikon-vurdering.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-vurdering.svg) no-repeat center;
}

/*______ Timeplan ______*/
.maskeWorkshop {
   background-color: var(--clr-ametyst);
   -webkit-mask: url(/images/svg/tp_fagikon-workshop.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-workshop.svg) no-repeat center;
}
.maskeProgramfag {
   background-color: var(--clr-safir);
   -webkit-mask: url(/images/svg/tp_fagikon-programfag.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-programfag.svg) no-repeat center;
}
.maskeEngelsk {
   background-color: var(--clr-spessartin);
   -webkit-mask: url(/images/svg/tp_fagikon-engelsk.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-engelsk.svg) no-repeat center;
}
.maskeMatte {
   background-color: var(--clr-citrin);
   -webkit-mask: url(/images/svg/tp_fagikon-matte.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-matte.svg) no-repeat center;
}
.maskeYFF {
   background-color: var(--clr-akvamarin);
   -webkit-mask: url(/images/svg/tp_fagikon-yff.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-yff.svg) no-repeat center;
}
.maskeNaturfag {
   background-color: var(--clr-smaragd);
   -webkit-mask: url(/images/svg/tp_fagikon-naturfag.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-naturfag.svg) no-repeat center;
}
.maskeMidttimen {
   background-color: var(--clr-kunzitt);
   -webkit-mask: url(/images/svg/tp_fagikon-midttimen.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-midttimen.svg) no-repeat center;
}
.maskeForum {
   background-color: var(--clr-thulitt);
   -webkit-mask: url(/images/svg/tp_fagikon-forum.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-forum.svg) no-repeat center;
}
.maskeKroppsoving {
   background-color: var(--clr-amazonitt);
   -webkit-mask: url(/images/svg/tp_fagikon-kroppsoving.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-kroppsoving.svg) no-repeat center;
}
.maskeForrigeDag {
   -webkit-mask: url(/images/svg/tp_pilForrigeDag.svg) no-repeat center;
   mask: url(/images/svg/tp_pilForrigeDag.svg) no-repeat center;
}
.maskeNesteDag {
   -webkit-mask: url(/images/svg/tp_pilNesteDag.svg) no-repeat center;
   mask: url(/images/svg/tp_pilNesteDag.svg) no-repeat center;
}

/* _____ Oppdragsbank - hovedside _____ */

.maskePortfolioOutline {
   -webkit-mask: url(/images/svg/ob/ob_portfolio_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_portfolio_outline.svg) no-repeat center;
}
.maskePortfolioFill {
   -webkit-mask: url(/images/svg/ob/ob_portfolio_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_portfolio_fill.svg) no-repeat center;
}
.maskeLoggOutline {
   -webkit-mask: url(/images/svg/ob/ob_visuell-logg_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_visuell-logg_outline.svg) no-repeat center;
}
.maskeLoggFill {
   -webkit-mask: url(/images/svg/ob/ob_visuell-logg_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_visuell-logg_fill.svg) no-repeat center;
}
.maskeSuksessOutline {
   -webkit-mask: url(/images/svg/ob/ob_sukksess_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_sukksess_outline.svg) no-repeat center;
}
.maskeSuksessFill {
   -webkit-mask: url(/images/svg/ob/ob_karrieresti_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_karrieresti_fill.svg) no-repeat center;
}
.maskeKarriereOutline {
   -webkit-mask: url(/images/svg/ob/ob_karrieresti_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_karrieresti_outline.svg) no-repeat center;
}
.maskeKarriereFill {
   -webkit-mask: url(/images/svg/ob/ob_sukksess_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_sukksess_fill.svg) no-repeat center;
}
.maskeHjerteOutline {
   -webkit-mask: url(/images/svg/ob/ob_heart_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_heart_outline.svg) no-repeat center;
}
.maskeHjerteFill {
   -webkit-mask: url(/images/svg/ob/ob_heart_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_heart_fill.svg) no-repeat center;
}
.maskePrintOutline {
   -webkit-mask: url(/images/svg/ob/ob_print_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_print_outline.svg) no-repeat center;
}
.maskePrintFill {
   -webkit-mask: url(/images/svg/ob/ob_print_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_print_fill.svg) no-repeat center;
}

.maskeGrafiskOutline {
   -webkit-mask: url(/images/svg/ob/ob_grafisk-outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_grafisk-outline.svg) no-repeat center;
}
.maskeGrafiskFill {
   -webkit-mask: url(/images/svg/ob/ob_grafisk-fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_grafisk-fill.svg) no-repeat center;
}
.maskeTreDOutline {
   -webkit-mask: url(/images/svg/ob/ob_tred-outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_tred-outline.svg) no-repeat center;
}
.maskeTreDFill {
   -webkit-mask: url(/images/svg/ob/ob_tred-fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_tred-fill.svg) no-repeat center;
}
.maskeFotoOutline {
   -webkit-mask: url(/images/svg/ob/ob_foto-outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_foto-outline.svg) no-repeat center;
}
.maskeFotoFill {
   -webkit-mask: url(/images/svg/ob/ob_foto-fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_foto-fill.svg) no-repeat center;
}
.maskeFilmOutline {
   -webkit-mask: url(/images/svg/ob/ob_film-outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_film-outline.svg) no-repeat center;
}
.maskeFilmFill {
   -webkit-mask: url(/images/svg/ob/ob_film-fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_film-fill.svg) no-repeat center;
}
.maskeLydOutline {
   -webkit-mask: url(/images/svg/ob/ob_lyd-outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_lyd-outline.svg) no-repeat center;
}
.maskeLydFill {
   -webkit-mask: url(/images/svg/ob/ob_lyd-fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_lyd-fill.svg) no-repeat center;
}
.maskeDriftOutline {
   -webkit-mask: url(/images/svg/ob/ob_drift-outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_drift-outline.svg) no-repeat center;
}
.maskeDriftFill {
   -webkit-mask: url(/images/svg/ob/ob_drift-fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_drift-fill.svg) no-repeat center;
}
.maskeUtviklingOutline {
   -webkit-mask: url(/images/svg/ob/ob_utvikling-outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_utvikling-outline.svg) no-repeat center;
}
.maskeUtviklingFill {
   -webkit-mask: url(/images/svg/ob/ob_utvikling-fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_utvikling-fill.svg) no-repeat center;
}
.maskeWebOutline {
   -webkit-mask: url(/images/svg/ob/ob_web-outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_web-outline.svg) no-repeat center;
}
.maskeWebFill {
   -webkit-mask: url(/images/svg/ob/ob_web-fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_web-fill.svg) no-repeat center;
}
.maskeAiOutline {
   -webkit-mask: url(/images/svg/ob/ob_ai-outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_ai-outline.svg) no-repeat center;
}
.maskeAiFill {
   -webkit-mask: url(/images/svg/ob/ob_ai-fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_ai-fill.svg) no-repeat center;
}

/* _____ Oppdragsbank - kategoriside _____ */
.maskeOppdragEksternOutline {
   -webkit-mask: url(/images/svg/ob/ob_eksternt-oppdrag_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_eksternt-oppdrag_outline.svg) no-repeat center;
}
.maskeOppdragEksternFill {
   -webkit-mask: url(/images/svg/ob/ob_eksternt-oppdrag_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_eksternt-oppdrag_fill.svg) no-repeat center;
}
.maskeOppdragInternOutline {
   -webkit-mask: url(/images/svg/ob/ob_internt-oppdrag_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_internt-oppdrag_outline.svg) no-repeat center;
}
.maskeOppdragInternFill {
   -webkit-mask: url(/images/svg/ob/ob_internt-oppdrag_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_internt-oppdrag_fill.svg) no-repeat center;
}
.maskeOppdragNedlastingOutline {
   -webkit-mask: url(/images/svg/ob/ob_download_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_download_outline.svg) no-repeat center;
}
.maskeOppdragNedlastingFill {
   -webkit-mask: url(/images/svg/ob/ob_download_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_download_fill.svg) no-repeat center;
}
.maskeOppdragNettstedOutline {
   -webkit-mask: url(/images/svg/ob/ob_ekstern_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_ekstern_outline.svg) no-repeat center;
}
.maskeOppdragNettstedFill {
   -webkit-mask: url(/images/svg/ob/ob_ekstern_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_ekstern_fill.svg) no-repeat center;
}
.maskeOppdragRessursOutline {
   -webkit-mask: url(/images/svg/ob/ob_ressurs_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_ressurs_outline.svg) no-repeat center;
}
.maskeOppdragRessursFill {
   -webkit-mask: url(/images/svg/ob/ob_ressurs_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_ressurs_fill.svg) no-repeat center;
}
.maskeOppdragTutorialOutline {
   -webkit-mask: url(/images/svg/ob/ob_play_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_play_outline.svg) no-repeat center;
}
.maskeOppdragTutorialFill {
   -webkit-mask: url(/images/svg/ob/ob_play_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_play_fill.svg) no-repeat center;
}
.maskePlanOutline {
   -webkit-mask: url(/images/svg/ob/ob_plan_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_plan_outline.svg) no-repeat center;
}
.maskePlanFill {
   -webkit-mask: url(/images/svg/ob/ob_plan_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_plan_fill.svg) no-repeat center;
}
/* _____ Oppdragsbank - Oppdragiside _____ */
.maskeModulInfo {
   -webkit-mask: url(/images/svg/ob/ob_info_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_info_outline.svg) no-repeat center;
}
.maskeModulPin {
   -webkit-mask: url(/images/svg/ob/ob_pin_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_pin_outline.svg) no-repeat center;
}
.maskeModulNett {
   -webkit-mask: url(/images/svg/ob/ob_nettressurs_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_nettressurs_outline.svg) no-repeat center;
}
/* __________ Index __________ */
.maskeUkerOutline {
   -webkit-mask: url(/images/svg/ob/ob_uker_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_uker_outline.svg) no-repeat center;
}
.maskeUkerFill {
   -webkit-mask: url(/images/svg/ob/ob_uker_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_uker_fill.svg) no-repeat center;
}
.maskeOppdragsbankFill {
   -webkit-mask: url(/images/svg/ob/ob_oppdragsbank_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_oppdragsbank_fill.svg) no-repeat center;
}
.maskeOppdragsbankOutline {
   -webkit-mask: url(/images/svg/ob/ob_oppdragsbank_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_oppdragsbank_outline.svg) no-repeat center;
}
.maskeRessursbankFill {
   -webkit-mask: url(/images/svg/ob/ob_eksamen_fill.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_eksamen_fill.svg) no-repeat center;
}
.maskeRessursbankOutline {
   -webkit-mask: url(/images/svg/ob/ob_eksamen_outline.svg) no-repeat center;
   mask: url(/images/svg/ob/ob_eksamen_outline.svg) no-repeat center;
}

/* __________ Timeplan __________ */
.maskeF21Fill {
   -webkit-mask: url(/images/svg/tp/tp_f21_fill.svg) no-repeat center;
   mask: url(/images/svg/tp/tp_f21_fill.svg) no-repeat center;
}
.maskeF21Outline {
   -webkit-mask: url(/images/svg/tp/tp_f21_outline.svg) no-repeat center;
   mask: url(/images/svg/tp/tp_f21_outline.svg) no-repeat center;
}

/* __________ Nav __________ */
.maskeIndexFill {
   -webkit-mask: url(/images/svg/im/im_home_fill.svg) no-repeat center;
   mask: url(/images/svg/im/im_home_fill.svg) no-repeat center;
}
.maskeIndexOutline {
   -webkit-mask: url(/images/svg/im/im_home_outline.svg) no-repeat center;
   mask: url(/images/svg/im/im_home_outline.svg) no-repeat center;
}
.maskeMenyFill {
   -webkit-mask: url(/images/svg/im/im_meny_fill.svg) no-repeat center;
   mask: url(/images/svg/im/im_meny_fill.svg) no-repeat center;
}
.maskeMenyOutline {
   -webkit-mask: url(/images/svg/im/im_meny_outline.svg) no-repeat center;
   mask: url(/images/svg/im/im_meny_outline.svg) no-repeat center;
}
