.indexFlex {
   display: flex;
   width: 80%;
   column-gap: 1rem;
   margin-block: 3rem;
   margin-inline: auto;
}
.indexFlex > * {
   margin-inline: auto;
}
.kategoriIkon {
   position: relative;
   width: 16rem;
   height: 16rem;
   margin-inline: auto;
   padding: 1.5rem;
   z-index: 110;
}
.kategoriTittel {
   position: relative;
   margin-top: -0.6rem;
   width: 16rem;
   z-index: 100;
   padding-block: 0.6rem;
   text-align: center;
   margin-inline: auto;
}
.hoverTP,
.hoverOB,
.hoverRB {
   display: grid;
   place-items: center;
   transition: all 0.3s ease-in-out;
   text-decoration: none;
   transform: scale(1);
}
.hoverTP:hover,
.hoverTP:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 1px underline var(--clr-tekst);
   transform: scale(1.01);
}
.hoverOB:hover,
.hoverOB:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 1px underline var(--clr-tekst);
   transform: scale(1.01);
}
.hoverRB:hover,
.hoverRB:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 1px underline var(--clr-tekst);
   transform: scale(1.01);
}
.velkommen {
   display: flex;
   width: 80%;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   margin-inline: auto;
   margin-block-start: 3rem;
}
