/*___________ galleri __________*/
.bildegalleri_firePluss {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1rem;
   padding-block-end: 3rem;
}
.bildegalleri_tre {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1rem;
   padding-block-end: 3rem;
}
.bildegalleri_to {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
   padding-block-end: 3rem;
}
.bildegalleri_en {
   display: grid;
   grid-template-columns: 1fr;
   padding-block-end: 3rem;
}
.galleribilde {
   display: flex;
   flex-direction: column;
   place-content: center;
}

/*______ Bildegelleri ______*/
.bildegalleri_fire-pluss div:nth-child(n + 5) {
   display: none;
}
.miniatyrbilde {
   height: 100%;
   object-fit: cover;
   cursor: pointer;
   transform-origin: center;
   transition: outline 0.1s ease-in-out;
   border-radius: 0.4rem;
}
.spessartinHover {
   outline: 2px solid var(--clr-ramme);
}
.spessartinHover:hover,
.spessartinHover:focus-visible {
   transition: outline 0.1s ease-in-out;
   outline: 2px solid var(--clr-spessartin);
}
.bilderammeHeader,
.bildeRammeFooter {
   display: flex;
   width: 100%;
   height: 50px;
   justify-content: space-between;
   place-items: center;
}
.bildetittel {
   text-align: start;
}
.bildetekst {
   text-align: end;
}
.sideTeller {
   position: absolute;
   top: 0;
   right: 0;
   transform: translateX(-50%);
   margin-block-start: 0.5rem;
   margin-inline-end: 0.5rem;
}
.sideTeller .gjeldendeSiden,
.sideTeller .siderTotalt,
.sideTeller .sideSkille {
   display: inline-block;
}
.pil-neste {
   position: absolute;
   top: 50%;
   right: 10px;
   width: 30px;
   height: 40px;
   transform: translateY(-50%);
}
.pil-tilbake {
   position: absolute;
   top: 50%;
   left: 10px;
   width: 30px;
   height: 40px;
   transform: translateY(-50%);
}
.pilBakgrunnTilbake {
   position: absolute;
   top: 0;
   left: 0;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
   height: 100%;
   width: 60px;
   cursor: pointer;
   opacity: 0.2;
   transition: opacity 0.2s ease-in-out;
}
.pilBakgrunnNeste {
   position: absolute;
   top: 0;
   right: 0;
   background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
   height: 100%;
   width: 60px;
   cursor: pointer;
   opacity: 0.1;
   transition: opacity 0.2s ease-in-out;
}
.pilBakgrunnTilbake:hover,
.pilBakgrunnTilbake:focus-visible,
.pilBakgrunnNeste:hover,
.pilBakgrunnNeste:focus-visible {
   opacity: 1;
}
.bildefremvisning {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.8);
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   display: none;
}
.bildeRamme {
   position: relative;
}
.aktivtBildeRamme {
   position: relative;
}

.bildetekstAktiv,
.bildetittelAktiv {
   width: auto;
}
.bildeTeller .gjeldendeBilde,
.bildeTeller .bildeSkille,
.bildeTeller .bilderTotalt {
   display: inline-block;
}
.maskeKryss {
   display: flex;
   width: 30px;
   height: 30px;
   cursor: pointer;
}
.bildeKarusell {
   margin-block: 1rem;
   padding: 1rem;
   background-color: var(--clr-tabellBoks);
   display: flex;
   gap: 1rem;
   overflow-x: auto;
   width: 90vw;
   align-content: start;
   justify-content: space-between;
}
.bildeKarusell img {
   height: 100%;
   width: 100%;
   max-height: 150px;
   object-fit: cover;
   cursor: pointer;
   filter: grayscale(0.8);
   transition: all 300ms ease-in-out;
   border-top-right-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-top-left-radius: clamp(0.4rem, 0.8rem, 0.8vw);
   border-bottom-left-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-bottom-right-radius: clamp(0.4rem, 0.8rem, 0.8vw);
   outline: 2px solid var(--clr-ramme);
   aspect-ratio: 4 / 3;
}

.bildeKarusell img:hover,
.bildeKarusell img:focus-visible {
   transition: all 300ms ease-in-out;
   filter: grayscale(0);
   outline: 2px solid var(--clr-spessartin);
}

.aktivtKarusellBilde {
   filter: none;
   outline: 2px solid var(--clr-spessartin);
}
