/*______ Grid Oppdragsbank ______*/
.ob_hovedsideGrid {
   display: grid;
   margin-block-start: 3rem;
   column-gap: 1rem;
   row-gap: 2rem;
   width: 90%;
   height: 90%;
   margin-inline: auto;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 1fr 1fr auto auto;
   grid-template-areas:
      "gra tre fot fil ani"
      "lyd dri pro web kun"
      "inf inf inf inf inf"
      "tek tek tek tek tek";
}
.toD_grafikkGrid {
   grid-area: gra;
}
.treD_grafikkGrid {
   grid-area: tre;
}
.fotografiGrid {
   grid-area: fot;
}
.filmGrid {
   grid-area: fil;
}
.animasjonGrid {
   grid-area: ani;
}
.lyddesignGrid {
   grid-area: lyd;
}
.driftGrid {
   grid-area: dri;
}
.programmeringGrid {
   grid-area: pro;
}
.webutviklingGrid {
   grid-area: web;
}
.ki-Grid {
   grid-area: kun;
}
.tekstGrid {
   grid-area: tek;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
}
.infoKnapper {
   grid-area: inf;
}
/*______ KategoriIkoner ______*/
.kategoriIkon {
   position: relative;
   width: 12rem;
   height: 12rem;
   margin-inline: auto;
   padding: 2rem;
   z-index: 110;
}
.kategoriTittel {
   position: relative;
   margin-top: -0.8rem;
   width: 12rem;
   z-index: 100;
   text-align: center;
   margin-inline: auto;
}
/*______ InfoKnapper ______*/
.infoKnapper {
   display: flex;
   justify-content: space-around;
}
.infoKnappIkon {
   position: relative;
   width: 100px;
   height: 100px;
   z-index: 110;
   padding: 1rem;
}
.infoKnappTittel {
   position: relative;
   min-width: 300px;
   padding: 1rem;
   margin-inline-start: -2rem;
   z-index: 100;
}
/*______ Kategoriside infoBokser ______*/
.infoBoksGrid {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 1rem;
   height: 100%;
}
.infoBoks {
   display: flex;
   flex-direction: column;
   place-items: start;
}
.infoBoksIkon {
   display: flex;
   gap: 1rem;
   height: 50px;
   width: 90px;
}
/*______ Kategoriside TittelHover ______*/
.hover2d,
.hover3d,
.hoverFoto,
.hoverFilm,
.hoverAnimasjon,
.hoverLyd,
.hoverDrift,
.hoverProgrammering,
.hoverWeb,
.hoverKi {
   display: grid;
   place-items: center;
   transition: all 0.3s ease-in-out;
   text-decoration: none;
   transform: scale(1);
}
.hover2d:hover,
.hover2d:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-rubin);
   transform: scale(1.02);
}
.hover3d:hover,
.hover3d:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-spessartin);
   transform: scale(1.02);
}
.hoverFoto:hover,
.hoverFoto:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-citrin);
   transform: scale(1.02);
}
.hoverFilm:hover,
.hoverFilm:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-smaragd);
   transform: scale(1.02);
}
.hoverAnimasjon:hover,
.hoverAnimasjon:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-amazonitt);
   transform: scale(1.02);
}
.hoverLyd:hover,
.hoverLyd:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-akvamarin);
   transform: scale(1.02);
}
.hoverDrift:hover,
.hoverDrift:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-safir);
   transform: scale(1.02);
}
.hoverProgrammering:hover,
.hoverProgrammering:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-ametyst);
   transform: scale(1.02);
}
.hoverWeb:hover,
.hoverWeb:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-kunzitt);
   transform: scale(1.02);
}
.hoverKi:hover,
.hoverKi:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-thulitt);
   transform: scale(1.02);
}
.flexInfoKnapp {
   display: flex;
   text-align: center;
   align-items: center;
   margin: 1rem;
   transition: all 0.3s ease-in-out;
   text-decoration: none;
   transform: scale(1);
}
.flexInfoKnapp:hover,
.flexInfoKnapp:focus-visible {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-tekst);
   transform: scale(1.02);
}
/*___________________________________*/
/*______ Oppdragskategori Grid ______*/
/*___________________________________*/
/*______ KategorisideGrid ______*/
.ob_kategorisideGrid {
   display: grid;
   grid-gap: 1rem;
   margin-block-start: 2.5rem;
   width: 80%;
   margin-inline: auto;
   grid-template-columns: 1fr;
   grid-template-areas: "kat";
}
.kategoriTabell {
   grid-area: kat;
}
/*______ Oppdragskategori Ikoner ______*/
.spiciness {
   display: flex;
   place-items: center;
}
.tid {
   display: flex;
   place-items: center;
}
.oppdrag .boksRamme,
.oppdrag .spiciness {
   margin-inline-end: 1rem;
}

.spiciness > *,
.tid > * {
   margin-inline-end: 0.5rem;
}
.spiceIkon {
   width: 125px;
   height: 40px;
}
.tidIkon {
   width: 40px;
   height: 40px;
}
/*______ Oppdragskategori tabeller ______*/
table thead tr th {
   padding-block: 0.5rem;
   padding-inline: 1rem;
   text-align: start;
}
.op_spice :first-child,
.op_tid :first-child {
   margin-inline-end: 1rem;
}
.op_knapp {
   width: max-content;
   display: flex;
   transition: all 0.3s ease-in-out;
   transform: scale(1);
}
.op_knapp:nth-child(2) {
   margin-inline-start: -1rem;
}
.op_knapp:hover,
.op_knapp:focus-visible {
   transition: all 0.3s ease-in-out;
   transform: scale(1.02);
}
.op_spice {
   display: flex;
   padding-inline: 1rem;
   align-items: center;
}
.op_tid {
   display: flex;
   width: max-content;
   padding-inline: 1rem;
   align-items: center;
}
.oppdragsIkon {
   width: 60px;
   height: 60px;
   z-index: 100;
   padding: 0.4rem;
}
.op_ikon {
   width: 100%;
   height: 100%;
}
.oppdragsTittel {
   position: relative;
   padding-block: 0.5rem;
   padding-inline-start: 3rem;
   padding-inline-end: 2rem;
   margin-inline-start: -2.5rem;
   z-index: 90;
}
.oppdragsKnapp {
   display: grid;
   grid-template-columns: auto 1fr;
   margin: 0.2rem;
   padding-inline: 0.6rem;
   align-items: center;
   transition: all 0.3s ease-in-out;
   transform: scale(1);
}
.oppdragsKnapp:hover,
.oppdragsKnapp:focus-visible {
   transition: all 0.3s ease-in-out;
   transform: scale(1.01);
}
/*___________________________________*/
/*___________ OppdragsSide __________*/
/*___________________________________*/
.ob_oppdragssideGrid {
   display: grid;
   margin-block-start: 2.5rem;
   grid-gap: 1rem;
   width: 80%;
   height: auto;
   margin-inline: auto;
   grid-template-columns: 1fr 0.6fr;
   grid-template-rows: 1fr auto auto;
   grid-template-areas:
      "opp opp"
      "eks res"
      "gal gal";
   /*
   opp = Oppdrag
   eks = Ekstra info
   res = Nettressurser
   gal = Galleri
   */
}
.oppdragGrid {
   grid-area: opp;
}
.infoGrid {
   grid-area: eks;
}
.ressursGrid {
   grid-area: res;
}
.bildeGrid {
   grid-area: gal;
   position: relative;
}
/*___________ OppdragsGrid __________*/
#spacer {
   width: 0px;
   float: right;
}
.oppdragsSideBilde {
   height: auto;
   width: 24rem;
   float: right;
   clear: right;
   margin-inline-end: -2rem;
   margin-inline-start: 0.6rem;
   margin-block-start: 0.2rem;
   margin-block-end: 0.8rem;
   cursor: pointer;
}
.oppdragGrid p,
.infoGrid p,
.ressursGrid p {
   margin-block-start: 0.2rem;
   margin-block-end: 1rem;
}
.bildeGrid h3 {
   margin-block-end: 0.5rem;
}
