.fargetHeroLinje {
   text-decoration: 4px underline var(--clr-spessartin);
   text-underline-offset: 4px;
}
/*______ Grid Oppdragsbank ______*/
.ob_hovedsideGrid {
   display: grid;
   margin-block-start: 3rem;
   column-gap: 1rem;
   row-gap: 2rem;
   width: 90%;
   height: 90%;
   margin-inline: auto;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 1fr 1fr auto auto;
   grid-template-areas:
      "gra tre fot fil ani"
      "lyd dri pro web kun"
      "inf inf inf inf inf"
      "tek tek tek tek tek";
}
/* .ob_hovedsideGrid > * {
   width: min-content;
} */

.toD_grafikkGrid {
   grid-area: gra;
}
.treD_grafikkGrid {
   grid-area: tre;
}
.fotografiGrid {
   grid-area: fot;
}
.filmGrid {
   grid-area: fil;
}
.animasjonGrid {
   grid-area: ani;
}
.lyddesignGrid {
   grid-area: lyd;
}
.driftGrid {
   grid-area: dri;
}
.programmeringGrid {
   grid-area: pro;
}
.webutviklingGrid {
   grid-area: web;
}
.ki-Grid {
   grid-area: kun;
}
.tekstGrid {
   grid-area: tek;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
}
.infoKnapper {
   grid-area: inf;
}
/*______ KategoriIkoner ______*/
.kategoriIkon {
   position: relative;
   width: 11.5rem;
   height: 11.5rem;
   margin-inline: auto;
   padding: 2rem;
   z-index: 110;
}
.kategoriTittel {
   position: relative;
   margin-top: -0.8rem;
   width: 12rem;
   z-index: 100;
   text-align: center;
   margin-inline: auto;
}
/*______ InfoKnapper ______*/
.infoKnapper {
   display: flex;
   flex-wrap: wrap;
   width: 90%;
   margin-inline: auto;
   justify-content: space-around;
}
.infoKnappIkon {
   position: relative;
   width: 70px;
   height: 70px;
   z-index: 110;
   padding: 0.25rem;
}
.infoKnappTittel {
   position: relative;
   min-width: 225px;
   padding: 0.5rem;
   /* margin-inline-start: -2rem; */
   z-index: 100;
}
/*______ Kategoriside infoBokser ______*/
.infoBoksGrid {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 1rem;
   height: 100%;
}
.infoBoks {
   display: flex;
   flex-direction: column;
   place-items: start;
}
.infoBoksIkon {
   display: flex;
   gap: 1rem;
   height: 50px;
   width: 90px;
}
/*______ Kategoriside TittelHover ______*/
.hover2d,
.hover3d,
.hoverFoto,
.hoverFilm,
.hoverAnimasjon,
.hoverLyd,
.hoverDrift,
.hoverProgrammering,
.hoverWeb,
.hoverKi {
   display: grid;
   place-items: center;
   transition: transform 0.3s ease-in-out;
   text-decoration: none;
   transform: scale(1);
}
.hover2d:hover,
.hover2d:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-rubin);
   transform: scale(1.03);
}
.hover3d:hover,
.hover3d:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-spessartin);
   transform: scale(1.03);
}
.hoverFoto:hover,
.hoverFoto:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-citrin);
   transform: scale(1.03);
}
.hoverFilm:hover,
.hoverFilm:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-smaragd);
   transform: scale(1.03);
}
.hoverAnimasjon:hover,
.hoverAnimasjon:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-amazonitt);
   transform: scale(1.03);
}
.hoverLyd:hover,
.hoverLyd:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-akvamarin);
   transform: scale(1.03);
}
.hoverDrift:hover,
.hoverDrift:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-safir);
   transform: scale(1.03);
}
.hoverProgrammering:hover,
.hoverProgrammering:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-ametyst);
   transform: scale(1.01);
}
.hoverWeb:hover,
.hoverWeb:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-kunzitt);
   transform: scale(1.01);
}
.hoverKi:hover,
.hoverKi:focus-visible {
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-thulitt);
   transform: scale(1.01);
}
.flexInfoKnapp {
   display: flex;
   text-align: center;
   align-items: center;
   margin: 1rem;
   transition: all 0.3s ease-in-out;
   text-decoration: none;
   transform: scale(1);
}
.flexInfoKnapp:hover:not(.utilgjengelig),
.flexInfoKnapp:focus-visible:not(.utilgjengelig) {
   transition: all 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-tekst);
   transform: scale(1.02);
}
/*___________________________________*/
/*______ Oppdragskategori Grid ______*/
/*___________________________________*/
/*______ KategorisideGrid ______*/
.ob_kategorisideGrid {
   display: grid;
   grid-gap: 1rem;
   margin-block-start: 2.5rem;
   width: 80%;
   margin-inline: auto;
   grid-template-columns: 1fr;
   grid-template-areas: "kat";
}
.kategoriTabell {
   grid-area: kat;
}
/*______ Oppdragskategori Ikoner ______*/
.spiciness {
   display: flex;
   place-items: center;
}
.tid {
   display: flex;
   place-items: center;
}
.oppdrag .boksRamme,
.oppdrag .spiciness {
   margin-inline-end: 1rem;
}

.spiciness > *,
.tid > * {
   margin-inline-end: 0.5rem;
}
/*______ Oppdragskategori tabeller ______*/
table thead tr th {
   padding-block: 0.5rem;
   padding-inline: 1rem;
   text-align: start;
}
.op_spice div,
.op_tid div {
   margin-inline-end: 0.5rem;
}
.op_knapp {
   width: max-content;
   display: flex;
   transition: all 0.3s ease-in-out;
   transform: scale(1);
}
.op_knapp:nth-child(2) {
   margin-inline-start: -1rem;
}
.op_knapp:hover,
.op_knapp:focus-visible {
   transition: all 0.3s ease-in-out;
   transform: scale(1.02);
}
.oppdragsTittel {
   position: relative;
   padding-block: 0.5rem;
   padding-inline-start: 3rem;
   padding-inline-end: 2rem;
   margin-inline-start: -2.5rem;
   z-index: 90;
}
.oppdragsIkon {
   width: 60px;
   height: 60px;
   z-index: 100;
   padding: 0.4rem;
}
.oppdragsKnapp {
   display: grid;
   grid-template-columns: auto 1fr;
   /* margin: 0.2rem; */
   padding: 0.4rem;
   align-items: center;
   transition: all 0.1s ease-in-out;
   /* transform: scale(1); */
}
/*___________________________________*/
/*___________ kategoriSide __________*/
/*___________________________________*/
.filterMeny .kategoriFilter {
   margin-block-start: 0.5rem;
   margin-block-end: 1em;
   margin-inline: 1rem;
}
.kategoriSeksjon {
   display: flex;
   flex-direction: column;
}
.kategoriSeksjon button,
.kategoriSeksjon a {
   margin-block: 0.4rem;
   margin-inline: 1rem;
   position: relative;
}
.kategoriSeksjon {
   padding-block-end: 0.5rem;
}
.kategoriHeader {
   background-color: var(--clr-tabellBoks);
   width: 100%;
   padding-inline: 1rem;
   padding-block: 0.5rem;
   margin-block-end: 0.5rem;
   border-top-right-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-top-left-radius: clamp(0.4rem, 0.8rem, 0.8vw);
}
.kategoriHeader h2 {
   margin-block-end: 0.5rem;
}
.kategoriFilter {
   display: flex;
}
.kategoriFilter > * {
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 150px;
   max-width: 200px;
   margin-inline-end: 0.5rem;
   font-family: "Roboto", sans-serif;
   color: var(--clr-tekst);
   line-height: 1.5;
   font-size: clamp(0.9rem, 1.1vw, 1.1rem);
   font-weight: 500;
}
.kategoriKnapp {
   display: flex;
   position: relative;
   z-index: 80;
   height: 2.5rem;
   justify-content: space-between;
}
.kategoriKnapp > * {
   margin-block: auto;
}
.kategoriLenke {
   position: relative;
   padding-block: 0.45rem;
   z-index: 80;
   height: 2.5rem;
}
.kategoriKnappTittel {
   position: relative;
   padding-inline-start: 3.4rem;
   padding-inline-end: 2rem;
   z-index: 90;
}
.kategoriKnappIkon {
   position: absolute;
   top: 50%;
   transform: translate(-10%, -50%);
   left: 0;
   width: 50px;
   height: 50px;
   z-index: 100;
   padding: 0.4rem;
}
.kategoriKnappInfo {
   display: flex;
}
.op_spice {
   display: flex;
   align-items: center;
   min-width: 200px;
}
.op_tid {
   display: flex;
   min-width: 150px;
   padding-inline: 1rem;
   align-items: center;
}
.op_ikon {
   width: 100%;
   height: 100%;
}
.spiceIkon {
   width: 90px;
   height: 30px;
}
.spiceIkonMob {
   width: 18px;
   height: 30px;
}
.tidIkon {
   width: 30px;
   height: 30px;
}
.hidden {
   display: none;
}
.kategoriKnapp:hover:not(.utilgjengelig) .displayOutline,
.kategoriKnapp:focus-visible:not(.utilgjengelig) .displayOutline,
.kategoriLenke:hover:not(.utilgjengelig) .displayOutline,
.kategoriLenke:focus-visible:not(.utilgjengelig) .displayOutline {
   display: none;
}
.kategoriKnapp:hover:not(.utilgjengelig) .displayFill,
.kategoriKnapp:focus-visible:not(.utilgjengelig) .displayFill,
.kategoriLenke:hover:not(.utilgjengelig) .displayFill,
.kategoriLenke:focus-visible:not(.utilgjengelig) .displayFill {
   display: block;
}
.flexInfoKnapp:hover:not(.utilgjengelig) .displayOutline,
.flexInfoKnapp:focus-visible:not(.utilgjengelig) .displayOutline {
   display: none;
}
.flexInfoKnapp:hover:not(.utilgjengelig) .displayFill,
.flexInfoKnapp:focus-visible:not(.utilgjengelig) .displayFill {
   display: block;
}
/*___________________________________*/
/*___________ OppdragsSide __________*/
/*___________________________________*/
.ob_oppdragssideGrid {
   display: grid;
   margin-block-start: 2.5rem;
   row-gap: 1rem;
   column-gap: 2rem;
   width: 80%;
   height: auto;
   margin-inline: auto;
   grid-template-columns: 1fr 0.6fr;
   grid-template-rows: 1fr auto auto;
   grid-template-areas:
      "opp opp"
      "eks res"
      "gal gal";
   /*
   opp = Oppdrag
   eks = Ekstra info
   res = Nettressurser
   gal = Galleri
   */
}
.oppdragGrid {
   grid-area: opp;
   position: relative;
}
.infoGrid {
   grid-area: eks;
   position: relative;
   padding-inline-end: 1.8rem;
}
.ressursGrid {
   grid-area: res;
   position: relative;
   padding-inline-end: 1.8rem;
}
.bildeGrid {
   grid-area: gal;
   position: relative;
}
.modulIkon {
   position: absolute;
   top: 10px;
   right: 0;
   transform: translateX(50%);
   width: 50px;
   height: 50px;
   z-index: 100;
   padding: 0.2rem;
}
/*___________ OppdragsGrid __________*/
#spacer {
   width: 0px;
   float: right;
}
.oppdragsSideBilde {
   height: auto;
   width: 24rem;
   float: right;
   clear: right;
   margin-inline-end: -2rem;
   margin-inline-start: 0.6rem;
   margin-block: 0.5rem;
   cursor: pointer;
}
.oppdragGrid p,
.infoGrid p,
.ressursGrid p {
   /* margin-block-start: 0.2rem; */
   margin-block-end: 1rem;
}
.oppdragGrid h3,
.infoGrid h3,
.ressursGrid h3,
.bildeGrid h3 {
   margin-block-end: 0.5rem;
}
