/*____Main grid____*/
body {
   /* strekker innholdet i body til å dekke all tilgjengelig skjermplass */
   margin: auto;
   display: grid;
   grid-template-rows:
      auto
      1fr
      auto;
}
/*______ headerområde ______*/
header {
   margin-top: 50px;
}
.hero {
   position: relative;
   height: 350px; /* Sett høyden på banneret etter behov */
   max-width: 1600px;
   left: 50%;
   transform: translateX(-50%);
}
.hero-bilde {
   /* Stil for bannerbildet */
   position: absolute;
   top: 0;

   width: 100%;
   height: 100%;
   object-fit: cover; /* Sørger for at bildet fyller hele banneret */
   object-position: bottom;
}
.hero-tittel {
   position: absolute;
   top: 20px;
   left: 20px;
   padding: 0px 10px 7.5px 7.5px; /* top | right | bottom | left */
   background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
   border-radius: 0.2rem;
   text-decoration: underline #ff9100 4px;
   text-underline-offset: 4px;
}
.hero-tittel h1 {
   color: whitesmoke;
}
.hero-emblem {
   position: relative;
   bottom: -80%;
   /* transform: translateX(-50%); */
   width: 120px;
   height: 120px;
   margin: auto;
   padding: 0.8rem;
   z-index: 110;
}
/*______ hovedinnhold ______*/
h3 {
   font-weight: 500;
}
main {
   width: 100%;
   max-width: 1600px;
   margin-inline: auto;
}
/*______ Grid hovedside ______*/
.gridBeholder {
   display: grid;
   grid-gap: 1rem;
   margin-block: 3rem;
   column-gap: 1rem;
   row-gap: 2rem;
   width: 90%;
   height: 90%;
   margin-inline: auto;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 1fr 1fr auto auto;
   grid-template-areas:
      "gra tre fot fil ani"
      "lyd dri pro web kun"
      "inf inf inf inf inf"
      "tek tek tek tek tek";
}
.gridBeholder > * {
   display: grid;
   place-items: center;
}
.toD_grafikk {
   grid-area: gra;
}
.treD_grafikk {
   grid-area: tre;
}
.fotografi {
   grid-area: fot;
}
.film {
   grid-area: fil;
}
.animasjon {
   grid-area: ani;
}
.lyddesign {
   grid-area: lyd;
}
.drift {
   grid-area: dri;
}
.programmering {
   grid-area: pro;
}
.webutvikling {
   grid-area: web;
}
.kunstig-intelligens {
   grid-area: kun;
}
.tekstGrid {
   grid-area: tek;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
   margin-block-start: 1rem;
   margin-block-end: 2rem;
}
.infoKnapper {
   grid-area: inf;
   margin-block-start: 2rem;
   margin-block-end: 1rem;
}
/*______ kategoriIkoner ______*/
.kategoriIkon {
   position: relative;
   width: 180px;
   height: 180px;
   margin: auto;
   padding: 2rem;
   z-index: 110;
}
.svgIkon {
   width: 100%;
   height: 100%;
}
.kategoriTittel {
   position: relative;
   margin-top: -0.8rem;
   width: 220px;
   z-index: 100;
   text-align: center;
}
/*______ infoKnapper ______*/
.infoKnapper {
   display: flex;
   justify-content: space-around;
}
.infoKnappIkon {
   position: relative;
   width: 100px;
   height: 100px;
   z-index: 110;
   padding: 1rem;
}
.infoKnappTittel {
   position: relative;
   min-width: 300px;
   padding: 1rem;
   margin-inline-start: -2rem;
   z-index: 100;
}
/*______ tekst bokser ______*/
.ob_infoGrid {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 1rem;
   height: 100%;
}
.tittelIkon {
   display: flex;
   flex-direction: column;
   place-items: start;
}
/*______  Grid kategoriside  ______*/
.gridBeholderkategori {
   display: grid;
   grid-gap: 1rem;
   margin-block: 2rem;
   column-gap: 1rem;
   row-gap: 2rem;
   width: 80%;
   height: auto;
   margin-inline: auto;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr auto auto;
   grid-template-areas:
      "opp opp opp"
      "eks eks res"
      "gal gal gal";
   /*
   opp = Oppdrag
   eks = Ekstra info 
   res = Nettressurser
   gal = Galleri
   */
}
.oppdragGrid {
   grid-area: opp;
}
.infoGrid {
   grid-area: eks;
}
.ressursGrid {
   grid-area: res;
}
.bildeGrid {
   grid-area: gal;
}
/*______ Katergoriside ______*/
.spiciness {
   display: flex;
   place-items: center;
}
.tid {
   display: flex;
   place-items: center;
}
.oppdrag .boksRamme,
.oppdrag .spiciness {
   margin-inline-end: 1rem;
}

.spiciness > *,
.tid > * {
   margin-inline-end: 0.5rem;
}

/* .spiciness div,
.spiciness h5 {
   display: inline-block;
} */
.spiceIkon {
   width: 125px;
   height: 40px;
}
.tidIkon {
   width: 40px;
   height: 40px;
}
/*______ Tabell ______*/
table thead tr th {
   padding-block: 0.5rem;
   padding-inline: 1rem;
   text-align: start;
}

table tbody tr td {
   padding-block: 0.5rem;
}
.op_spice :first-child,
.op_tid :first-child {
   margin-inline-end: 1rem;
}
.op_knapp {
   width: max-content;
   display: flex;
   transition: transform 0.3s ease-in-out;
   transform: scale(1);
}
.op_knapp:nth-child(2) {
   margin-inline-start: -1rem;
}
.op_knapp:hover,
.op_knapp:focus-visible {
   transition: transform 0.3s ease-in-out;
   transform: scale(1.02);
}
.op_spice {
   display: flex;
   padding-inline: 1rem;
   align-items: center;
}
.op_tid {
   display: flex;
   width: max-content;
   padding-inline: 1rem;
   align-items: center;
}
.oppdragsIkon {
   position: relative;
   width: 60px;
   height: 60px;
   z-index: 100;
   padding: 0.4rem;
}
.op_ikon {
   width: 100%;
   height: 100%;
}
.oppdragsTittel {
   position: relative;
   padding-block: 0.5rem;
   padding-inline-start: 3.5rem;
   padding-inline-end: 2rem;
   margin-inline-start: -2.5rem;
   z-index: 90;
}
.oppdragsKnapp {
   display: flex;
   text-align: center;
   align-items: center;
   padding-inline: 1rem;
   transition: transform 0.3s ease-in-out;
   transform: scale(1);
}
.oppdragsKnapp:hover,
.oppdragsKnapp:focus-visible {
   transition: transform 0.3s ease-in-out;
   transform: scale(1.02);
}

/*______ TittelHover ______*/
.hover2d,
.hover3d,
.hoverFoto,
.hoverFilm,
.hoverAnimasjon,
.hoverLyd,
.hoverDrift,
.hoverProgrammering,
.hoverWeb,
.hoverKi {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: none;
   transform: scale(1);
}
.hover2d:hover,
.hover2d:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-rubin);
   transform: scale(1.02);
}
.hover3d:hover,
.hover3d:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-spessartin);
   transform: scale(1.02);
}
.hoverFoto:hover,
.hoverFoto:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-citrin);
   transform: scale(1.02);
}
.hoverFilm:hover,
.hoverFilm:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-smaragd);
   transform: scale(1.02);
}
.hoverAnimasjon:hover,
.hoverAnimasjon:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-amazonitt);
   transform: scale(1.02);
}
.hoverLyd:hover,
.hoverLyd:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-akvamarin);
   transform: scale(1.02);
}
.hoverDrift:hover,
.hoverDrift:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-safir);
   transform: scale(1.02);
}
.hoverProgrammering:hover,
.hoverProgrammering:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-ametyst);
   transform: scale(1.02);
}
.hoverWeb:hover,
.hoverWeb:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-kunzitt);
   transform: scale(1.02);
}
.hoverKi:hover,
.hoverKi:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-thulitt);
   transform: scale(1.02);
}
.flexInfoKnapp {
   display: flex;
   text-align: center;
   align-items: center;
   margin: 1rem;
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: none;
   transform: scale(1);
}
.flexInfoKnapp:hover,
.flexInfoKnapp:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-tekst);
   transform: scale(1.02);
}
