/*____Main grid____*/
body {
   /* strekker innholdet i body til å dekke all tilgjengelig skjermplass */
   background-color: var(--clr-fremheving);
   margin: auto;
   display: grid;
   grid-template-rows:
      auto
      1fr
      auto;
}
/*______ headerområde ______*/
header {
   margin-top: 50px;
}
.hero {
   position: relative;
   height: 350px; /* Sett høyden på banneret etter behov */
   max-width: 1600px;
   left: 50%;
   transform: translateX(-50%);
}
.hero-bilde {
   /* Stil for bannerbildet */
   position: absolute;
   top: 0;

   width: 100%;
   height: 100%;
   object-fit: cover; /* Sørger for at bildet fyller hele banneret */
   object-position: bottom;
}
.hero-tittel {
   position: absolute;
   top: 20px;
   left: 20px;
   padding: 0px 10px 7.5px 7.5px; /* top | right | bottom | left */
   background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
   border-radius: 0.2rem;
   text-decoration: underline #ff9100 4px;
   text-underline-offset: 4px;
}
.hero-tittel h1 {
   color: whitesmoke;
}
/* .hero-emblem {
   position: relative; 
   bottom: -50%;
   transform: translateX(-50%); 
   width: 4rem;
   height: 4rem;
} */
/*______ hovedinnhold ______*/
h3 {
   font-weight: 500;
}
main {
   background-color: var(--clr-bakgrunn);
   max-width: 1600px;
   margin-inline: auto;
}
.ob-ramme-rund {
   background-color: var(--clr-boks);
   border-color: var(--clr-ramme);
   border-radius: 50%;
   border-width: 2px 2px 6px 6px;
   border-radius: 50;
   border-style: solid;
}
.gridBeholder {
   display: grid;
   grid-gap: 1rem;
   margin-block: 3rem;
   column-gap: 1rem;
   row-gap: 2rem;
   width: 90%;
   height: 90%;
   margin-inline: auto;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 1fr 1fr auto auto;
   grid-template-areas:
      "gra tre fot fil ani"
      "lyd dri pro web kun"
      "inf inf inf inf inf"
      "tek tek tek tek tek";
   /*
   gra = 2D-grafikk
   tre = 3D-grafikk 
   fot = Fotografi
   fil = Film
   ani = Animasjon
   lyd = Lyddesign
   dri = Drift
   pro = Programmering
   web = Webutvikling
   kun = Kunstig intelligens
   */
}
.gridBeholder > * {
   display: grid;
   place-items: center;
}
/*______ Grid area ______*/
.to-d_grafikk {
   grid-area: gra;
}
.tre-d_grafikk {
   grid-area: tre;
}
.fotografi {
   grid-area: fot;
}
.film {
   grid-area: fil;
}
.animasjon {
   grid-area: ani;
}
.lyddesign {
   grid-area: lyd;
}
.drift {
   grid-area: dri;
}
.programmering {
   grid-area: pro;
}
.webutvikling {
   grid-area: web;
}
.kunstig-intelligens {
   grid-area: kun;
}
.tekstGrid {
   grid-area: tek;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
   margin-block-start: 1rem;
   margin-block-end: 2rem;
}
.infoKnapper {
   grid-area: inf;
   margin-block-start: 2rem;
   margin-block-end: 1rem;
}

/*______ kategoriIkoner ______*/
.kategoriIkon {
   position: relative;
   width: 180px;
   height: 180px;
   margin: auto;
   padding: 2rem;
   z-index: 110;
}
.svgIkon {
   width: 100%;
   height: 100%;
}
.kategoriRamme {
   position: relative;
   margin-top: -1rem;
   width: 220px;
   z-index: 100;
   padding: 1rem;
   text-align: center;
}
/*______ Masker ______*/
.maskeGrafisk {
   background-color: var(--clr-rubin);
   -webkit-mask: url(/images/svg/ob_1_2d-grafikk.svg) no-repeat center;
   mask: url(/images/svg/ob_1_2d-grafikk.svg) no-repeat center;
}
.maskeTreD {
   background-color: var(--clr-spessartin);
   -webkit-mask: url(/images/svg/ob_2_3d-grafikk.svg) no-repeat center;
   mask: url(/images/svg/ob_2_3d-grafikk.svg) no-repeat center;
}
.maskeFoto {
   background-color: var(--clr-citrin);
   -webkit-mask: url(/images/svg/ob_3_foto.svg) no-repeat center;
   mask: url(/images/svg/ob_3_foto.svg) no-repeat center;
}
.maskeFilm {
   background-color: var(--clr-smaragd);
   -webkit-mask: url(/images/svg/ob_4_film.svg) no-repeat center;
   mask: url(/images/svg/ob_4_film.svg) no-repeat center;
}
.maskeAnim {
   background-color: var(--clr-amazonitt);
   -webkit-mask: url(/images/svg/ob_5_animasjon.svg) no-repeat center;
   mask: url(/images/svg/ob_5_animasjon.svg) no-repeat center;
}
.maskeLyd {
   background-color: var(--clr-akvamarin);
   -webkit-mask: url(/images/svg/ob_6_lyddesign.svg) no-repeat center;
   mask: url(/images/svg/ob_6_lyddesign.svg) no-repeat center;
}
.maskeDrift {
   background-color: var(--clr-safir);
   -webkit-mask: url(/images/svg/ob_7_drift.svg) no-repeat center;
   mask: url(/images/svg/ob_7_drift.svg) no-repeat center;
}
.maskeProgrammering {
   background-color: var(--clr-ametyst);
   -webkit-mask: url(/images/svg/ob_8_programmering.svg) no-repeat center;
   mask: url(/images/svg/ob_8_programmering.svg) no-repeat center;
}
.maskeWeb {
   background-color: var(--clr-kunzitt);
   -webkit-mask: url(/images/svg/ob_9_web.svg) no-repeat center;
   mask: url(/images/svg/ob_9_web.svg) no-repeat center;
}
.maskeKi {
   background-color: var(--clr-thulitt);
   -webkit-mask: url(/images/svg/ob_10_ai.svg) no-repeat center;
   mask: url(/images/svg/ob_10_ai.svg) no-repeat center;
}
/*______ TittelHover ______*/
.hover2d,
.hover3d,
.hoverFoto,
.hoverFilm,
.hoverAnimasjon,
.hoverLyd,
.hoverDrift,
.hoverProgrammering,
.hoverWeb,
.hoverKi {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: none;
   transform: scale(1);
}
.hover2d:hover,
.hover2d:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-rubin);
   transform: scale(1.02);
}
.hover3d:hover,
.hover3d:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-spessartin);
   transform: scale(1.02);
}
.hoverFoto:hover,
.hoverFoto:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-citrin);
   transform: scale(1.02);
}
.hoverFilm:hover,
.hoverFilm:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-smaragd);
   transform: scale(1.02);
}
.hoverAnimasjon:hover,
.hoverAnimasjon:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-amazonitt);
   transform: scale(1.02);
}
.hoverLyd:hover,
.hoverLyd:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-akvamarin);
   transform: scale(1.02);
}
.hoverDrift:hover,
.hoverDrift:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-safir);
   transform: scale(1.02);
}
.hoverProgrammering:hover,
.hoverProgrammering:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-ametyst);
   transform: scale(1.02);
}
.hoverWeb:hover,
.hoverWeb:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-kunzitt);
   transform: scale(1.02);
}
.hoverKi:hover,
.hoverKi:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-thulitt);
   transform: scale(1.02);
}
/*______ tekstFarger ______*/
.rubinTekst {
   color: var(--clr-rubin);
}
.spessartinTekst {
   color: var(--clr-spessartin);
}
.citrinTekst {
   color: var(--clr-citrin);
}
.smaragdTekst {
   color: var(--clr-smaragd);
}
.amazonittTekst {
   color: var(--clr-amazonitt);
}
.akvamarinTekst {
   color: var(--clr-akvamarin);
}
.safirTekst {
   color: var(--clr-safir);
}
.ametystTekst {
   color: var(--clr-ametyst);
}
.kunzittTekst {
   color: var(--clr-kunzitt);
}
.thulittTekst {
   color: var(--clr-thulitt);
}
/*______ dekorasjonsFarger ______*/
.rubinDekorasjon {
   text-decoration: 3px underline var(--clr-rubin);
}
.spessartinDekorasjon {
   text-decoration: 3px underline var(--clr-spessartin);
}
.citrinDekorasjon {
   text-decoration: 3px underline var(--clr-citrin);
}
.smaragdDekorasjon {
   text-decoration: 3px underline var(--clr-smaragd);
}
.amazonittDekorasjon {
   text-decoration: 3px underline var(--clr-amazonitt);
}
.akvamarinDekorasjon {
   text-decoration: 3px underline var(--clr-akvamarin);
}
.safirDekorasjon {
   text-decoration: 3px underline var(--clr-safir);
}
.ametystDekorasjon {
   text-decoration: 3px underline var(--clr-ametyst);
}
.kunzittDekorasjon {
   text-decoration: 3px underline var(--clr-kunzitt);
}
.thulittDekorasjon {
   text-decoration: 3px underline var(--clr-thulitt);
}
/*______ infoKnapper ______*/
.infoKnapper {
   display: flex;
   justify-content: space-around;
}
.flexInfoKnapp {
   display: flex;
   text-align: center;
   align-items: center;
   margin: 1rem;
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: none;
   transform: scale(1);
}
.flexInfoKnapp:hover,
.flexInfoKnapp:focus {
   transition: text-decoration 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   text-decoration: 3px underline var(--clr-tekst);
   transform: scale(1.02);
}
.infoKnappIkon {
   position: relative;
   width: 100px;
   height: 100px;
   z-index: 110;
   padding: 1rem;
}
.infoKnappTittel {
   position: relative;
   min-width: 300px;
   padding: 1rem;
   margin-inline-start: -2rem;
   z-index: 100;
}
.portfolio {
   width: 100%;
   height: 100%;
   background-color: var(--clr-tekst);
   -webkit-mask: url(/images/svg/ob_ikon_portfolio.svg) no-repeat center;
   mask: url(/images/svg/ob_ikon_portfolio.svg) no-repeat center;
}
.suksesskriterer {
   width: 100%;
   height: 100%;
   background-color: var(--clr-tekst);
   -webkit-mask: url(/images/svg/ob_ikon_suksesskriterer.svg) no-repeat center;
   mask: url(/images/svg/ob_ikon_suksesskriterer.svg) no-repeat center;
}
.visuell-logg {
   width: 100%;
   height: 100%;
   background-color: var(--clr-tekst);
   -webkit-mask: url(/images/svg/ob_ikon_visuell-logg.svg) no-repeat center;
   mask: url(/images/svg/ob_ikon_visuell-logg.svg) no-repeat center;
}
/*______ tekst bokser ______*/
.teksInnhold {
   display: grid;
   grid-template-columns: auto 1fr;
   padding: 1rem;
   gap: 1rem;
   height: 100%;
   background-color: var(--clr-fremheving);
   border: 2px solid var(--clr-ramme);
   border-radius: 1rem;
}
.tittelIkon {
   display: flex;
   flex-direction: column;
   place-items: start;
}
.maskeSpice {
   background-color: var(--clr-tekst);
   -webkit-mask: url(/images/svg/ob_spiciness-gradient.svg) no-repeat center;
   mask: url(/images/svg/ob_spiciness-gradient.svg) no-repeat center;
}
