.oppdragsBildeMobil {
   height: auto;
   margin-inline: auto;
   cursor: pointer;
}
.bildeMob,
.tabMob {
   display: none;
}
.infoKnappDesk {
   display: block;
}
.infoKnappMob {
   display: none;
}

@media screen and (max-width: 1200px) {
   .ob_hovedsideGrid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto 1fr 1fr 1fr auto;
      grid-template-areas:
         "tek tek tek tek"
         "gra tre fot fil"
         "ani lyd dri pro"
         "... web kun ..."
         "inf inf inf inf";
   }
   .infoKnapper {
      display: flex;
      flex-wrap: wrap;
      margin-block-end: 0rem;
   }
}
@media screen and (max-width: 992px) {
   .ob_hovedsideGrid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 1fr 1fr 1fr 1fr auto auto;
      grid-template-areas:
         "tek tek tek"
         "gra tre fot"
         "fil ani lyd"
         "dri pro web"
         "... kun ..."
         "inf inf inf"
         "inf inf inf";
   }
   .ob_oppdragssideGrid {
      width: 90%;
   }
   .infoKnappDesk {
      display: none;
   }
   .infoKnappMob {
      display: block;
      text-align: start;
   }
   .op_spice {
      min-width: 50px;
   }
   .op_tid {
      min-width: 115px;
   }
   .stortInspBilde {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
   }
   .tekstGrid {
      grid-template-columns: 1fr;
      grid-template-areas:
         "obb"
         "spi"
         "tid";
      row-gap: 1rem;
   }
   .infoBoksGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      gap: 0.25rem;
   }
   .infoBoks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.5rem;
   }
   /*___________ Spiciness __________*/
   .spiceIkon {
      width: 18px;
      height: 30px;
   }
   .utenKrydder::after {
      content: "0/5";
   }
   .ekstraMild::after {
      content: "1/5";
   }
   .mild::after {
      content: "2/5";
   }
   .medium::after {
      content: "3/5";
   }
   .sterk::after {
      content: "4/5";
   }
   .ekstraSterk::after {
      content: "5/5";
   }
   /*___________ Tid __________*/
   .tid1::after {
      content: "≤1t";
   }
   .tid1-3::after {
      content: "1-3t";
   }
   .tid3-6::after {
      content: "3-6t";
   }
   .tid6-9::after {
      content: "6-9t";
   }
   .tid9-12::after {
      content: "9-12t";
   }
   .tid12-15::after {
      content: "12-15t";
   }
   .tid15::after {
      content: "15t+";
   }
}
@media screen and (max-width: 768px) {
   h1 {
      font-size: 1.4rem;
   }
   h2 {
      font-size: 1.2rem;
   }
   h3 {
      font-size: 1rem;
   }
   h4 {
      font-size: 1rem;
   }
   h5 {
      font-size: 0.7rem;
   }
   p {
      font-size: 0.7rem;
   }
   .ob_hovedsideGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr auto;
      grid-template-areas:
         "tek tek"
         "gra tre"
         "fot fil"
         "ani lyd"
         "dri pro"
         "web kun"
         "inf inf";
   }
   .infoKnappTittel {
      min-width: 250px;
      padding-inline-start: 2rem;
   }
   .oppdragsTittel {
      position: relative;
      padding-block: 0.5rem;
      padding-inline-start: 2.5rem;
      padding-inline-end: 1rem;
   }
   .ob_oppdragssideGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto auto auto;
      grid-template-areas:
         "opp"
         "bil"
         "eks"
         "res"
         "gal";
   }
   .ob_oppdragssideGridAlt {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto auto auto;
      grid-template-areas:
         "opp"
         "bil"
         "eks"
         "gal";
   }
   .mobilBildeGrid {
      grid-area: bil;
   }
   .tabDesk,
   .bildeDesk {
      display: none;
   }
   .tabMob,
   .bildeMob {
      display: block;
   }
   .bildegalleri_firePluss {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }
   .bildegalleri_tre {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
   }
   .ob_kategorisideGrid {
      width: 90%;
   }
   .kategoriFilter span {
      display: none;
   }
   .kategoriKnappTittel {
      padding-inline-start: 3rem;
      line-height: 120%;
   }
   .op_tid {
      min-width: 85px;
   }
   .op_spice {
      min-width: 40px;
   }
   .spiceIkon {
      width: 15px;
      height: 25px;
   }
   .tidIkon {
      width: 15px;
      height: 25px;
   }
   .filterMeny .kategoriFilter {
      margin-inline: 0.5rem;
   }
   .kategoriSeksjon button,
   .kategoriSeksjon a {
      margin-inline: 0.5rem;
   }
   .kategoriFilter > * {
      flex-basis: 50px;
   }
   .nettResFlex {
      flex-direction: column;
      row-gap: 0.5rem;
   }
   .nettResFlex > * {
      flex-basis: auto;
      max-width: none;
   }
}
@media screen and (max-width: 600px) {
   .kategoriTittel {
      width: 9rem;
      text-align: center;
      align-content: center;
   }
   .kategoriIkon {
      width: 9rem;
      height: 9rem;
   }
   main {
      padding-block-start: 2.5rem;
   }
   .tabTab {
      display: none;
   }
   .ob_kategorisideGrid {
      width: 96%;
   }
   .op_spice div,
   .op_tid div {
      margin-inline-end: 0.25rem;
   }
   .op_tid {
      min-width: 80px;
      padding-inline: 0.5rem;
   }
   .op_spice {
      min-width: 20px;
   }
}
/*______ KategoriSider ______*/
@media screen and (max-width: 800px) {
   .oppdrag {
      flex-wrap: wrap;
   }
   .oppdrag > * {
      margin-block-start: 0.5rem;
   }
}
