.oppdragsBildeMobil {
   height: auto;
   margin-inline: auto;
   cursor: pointer;
}
.bildeDesk {
   display: block;
}
.bildeMob {
   display: none;
}
@media screen and (max-width: 1320px) {
   .ob_hovedsideGrid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(auto-min, 1fr);
      grid-template-areas:
         "gra tre fot fil"
         "ani lyd dri pro"
         "... web kun ..."
         "inf inf inf inf"
         "tek tek tek tek";
   }
   .infoKnapper {
      display: flex;
      flex-wrap: wrap;
      margin-block-end: 0rem;
   }
}
@media screen and (max-width: 1000px) {
   .ob_hovedsideGrid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-min, 1fr);
      grid-template-areas:
         "gra tre fot"
         "fil ani lyd"
         "dri pro web"
         "... kun ..."
         "inf inf inf"
         "inf inf inf"
         "tek tek tek";
   }
   .ob_oppdragssideGrid {
      width: 90%;
   }
   .bildeRamme {
      max-width: 80vw;
      max-width: 80dvw;
   }
   .oppdragsSideBilde {
      margin-inline-end: -1rem;
   }
}
@media screen and (max-width: 800px) {
   .ob_hovedsideGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-min, 1fr);
      grid-template-areas:
         "gra tre"
         "fot fil"
         "ani lyd"
         "dri pro"
         "web kun"
         "inf inf"
         "tek tek";
   }
   .infoKnappTittel {
      min-width: 250px;
      padding-inline-start: 2rem;
   }
   .tekstGrid {
      grid-area: tek;
      display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 2rem;
      margin-block: 0rem;
   }
   .ob_oppdragssideGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto auto auto;
      grid-template-areas:
         "opp"
         "bil"
         "eks"
         "res"
         "gal";
   }
   .mobilBildeGrid {
      grid-area: bil;
   }
   .bildeDesk {
      display: none;
   }
   .bildeMob {
      display: block;
   }
   .bildegalleri_firePluss {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1rem;
   }
   .bildegalleri_tre {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 1rem;
      padding-block-end: 3rem;
   }
   .bildeRamme {
      max-width: 90vw;
      max-width: 90dvw;
   }
}
@media screen and (max-width: 560px) {
   .ob_hovedsideGrid {
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto, 1fr);
      grid-template-areas:
         "gra"
         "tre"
         "fot"
         "fil"
         "ani"
         "lyd"
         "dri"
         "pro"
         "web"
         "kun"
         "inf"
         "inf"
         "tek"
         "tek";
   }
   .bildeRamme {
      max-width: 100vw;
      max-width: 100dvw;
   }
}
/*______ KategoriSider ______*/
@media screen and (max-width: 800px) {
   .oppdrag {
      flex-wrap: wrap;
   }
   .oppdrag > * {
      margin-block-start: 0.5rem;
   }
}
