/*____Main grid____*/
body {
   /* strekker innholdet i body til å dekke all tilgjengelig skjermplass */
   max-width: 1600px;
   margin: auto;
   display: grid;
   grid-template-rows:
      auto
      1fr
      auto;
}
/*______ headerområde ______*/
header {
   margin-top: 50px;
}
.hero {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 350px; /* Sett høyden på banneret etter behov */
}
.hero-bilde {
   /* Stil for bannerbildet */
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; /* Sørger for at bildet fyller hele banneret */
   object-position: bottom;
}
.hero-tittel {
   position: absolute;
   top: 20px;
   left: 20px;
   padding: 0px 10px 7.5px 7.5px; /* top | right | bottom | left */
   background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
   border-radius: 0.2rem;
   text-decoration: underline #ff9100 4px;
   text-underline-offset: 4px;
}
.hero-tittel h1 {
   color: whitesmoke;
}
/*______ hovedinnhold ______*/
.gridBeholder {
   display: grid;
   grid-gap: 1rem;
   padding-block: 2rem;
   width: 80%;
   margin-inline: auto;
   grid-template-columns: 1.4fr 1fr;
   grid-template-areas:
      "oS iF"
      "iH iH"
      "aK aK";
}
/*______ Maingrid-seksjonplasseringer ______*/
.oversikt {
   /* Oppsummering */
   grid-area: oS;
}
.innholdsfortegnelse {
   /* seksjonknapper */
   grid-area: iF;
}
.ifSeksjoner {
   /* gjembart seksjon */
   grid-area: iH;
}
/* .galleri {
   grid-area: gI;
} */

.artikler {
   /*relevante artikler*/
   grid-area: aK;
}
/*______ Seksjonsknapper ______*/
.innholdsfortegnelse {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   place-content: center;
}
.ifKnapp {
   display: grid;
   grid-template-columns: auto 1fr;
   margin: 0.2rem;
   align-items: center;
}
.knappHover {
   cursor: pointer;
   transform-origin: center;
   transition: transform 0.3s ease-in-out;
}
.knappHover:hover {
   transform: scale(1.02);
}
.ifKnappIkon {
   width: 50px;
   height: 50px;
   z-index: 4;
   padding: 0.4rem;
}
.ifKnappIkon svg circle {
   fill: var(--clr-tekst);
   stroke: none;
}
.ifKnapptittel {
   margin-left: -1rem;
   padding-block: 0.3rem;
   padding-left: 1rem;
   z-index: 3;
   text-align: center;
}
.utilgjengelg {
   transform: none;
}
.utilgjengelg:hover {
   transform: none;
}
/*______ Seksjonanimasjon ______*/
.ifSeksjon {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.3s ease-out;
}
.ifSeksjon.synlig {
   max-height: 100vh;
   transition: max-height 0.3s ease-in;
}
.ifSeksjon:not(.synlig) {
   max-height: 0;
   transition: max-height 0.3s ease-out;
}
.ifSekskonListe {
   list-style: none;
}
.ifSeksjonsGrid {
   display: grid;
   grid-template-columns: 1fr 0.5fr;
   grid-template-areas:
      "sI1 sI1"
      "sI2 kna"
      "det det";
   gap: 1rem;
}
.seksjonInfo1 {
   grid-area: sI1;
}
.seksjonInfo2 {
   grid-area: sI2;
}
.seksjonRessurser {
   grid-area: kna;
}
.seksjonDetaljer {
   grid-area: det;
}
.seksjonikon {
   display: flex;
}
.seksjonikon .ifKnappIkon {
   margin-inline-end: 1rem;
}
/*______ Liste ______*/
ul {
   list-style: none; /* Remove default bullets */
   margin-block-end: 1rem;
}
ul li {
   margin-left: 1em;
}
ul li p::before {
   content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
   color: var(--clr-citrin); /* Change the color */
   font-weight: bold; /* If you want it to be bold */
   display: inline-block; /* Needed to add space between the bullet and the text */
   width: 1em; /* Also needed for space (tweak if needed) */
   margin-left: -1em; /* Also needed for space (tweak if needed) */
}
ul li a button {
   margin-left: -1em;
}
.toKolloner {
   display: grid;
   grid-template-columns: 1fr 0.75fr;
   gap: 1rem;
}
/*______ Tabeller ______*/
table {
   width: 100%;
   margin-block-end: 1rem;
}
th {
   display: flex;
   justify-content: space-between;
   margin-inline: 1rem;
   margin-block: 0.5rem;
}
td {
   border-top: 1px solid var(--clr-ramme);
}
table tbody tr td {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.fylkesTittel {
   display: flex;
   align-items: center;
   padding-block: 0.5rem;
}
.fylkesTittel img {
   width: 30px;
   height: 30px;
   margin-inline: 0.5rem;
}
tfoot {
   text-align: center;
   margin-block: 4rem;
}
.tabMob {
   display: none;
}
table tbody tr td p {
   margin-inline-end: 0.5rem;
}
button {
   transition: transform 0.3s ease-in-out;
   transform: scale(1);
}
button:hover {
   transition: transform 0.3s ease-in-out;
   transform: scale(1.04);
}
.eksamensOppaver {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   text-align: center;
   padding: 0.5rem;
}
.eksamensOppaver button {
   margin-top: 0.25rem;
}
/*______ Detaljeliste ______*/
details {
   grid-column: span 2;
   padding-block: 0.5rem;
}
details > summary {
   font-family: "Roboto", sans-serif;
   font-size: clamp(0.9rem, 9vw, 1.2rem);
   font-weight: 500;
   padding-block: 0.5rem;
   padding-inline: 1rem;
   cursor: pointer;
   border-top-right-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-top-left-radius: clamp(0.4rem, 0.8rem, 0.8vw);
   border-bottom-left-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-bottom-right-radius: clamp(0.4rem, 0.8rem, 0.8vw);
   border-width: 1px 1px 3px 3px;
   border-style: solid;
   border-color: var(--clr-ramme);
}
details[open] > summary {
   border-top-right-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-top-left-radius: clamp(0.4rem, 0.8rem, 0.8vw);
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-width: 1px 1px 1px 3px;
}
.detaljeRamme {
   border-bottom-left-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-bottom-right-radius: clamp(0.4rem, 0.8rem, 0.8vw);
   border-top-right-radius: 0;
   border-top-left-radius: 0;
   border-width: 1px 1px 3px 3px;
   border-style: solid;
   border-color: var(--clr-ramme);
   background-color: var(--clr-ixDBoks);
   padding: 1rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
}
/*______ svgMasker ______*/
.maskeDialog {
   -webkit-mask: url(/images/svg/rb_ikon-dialog.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-dialog.svg) no-repeat center;
}
.maskeEksamen {
   -webkit-mask: url(/images/svg/rb_ikon-eksamen.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-eksamen.svg) no-repeat center;
}
.maskeLk20 {
   -webkit-mask: url(/images/svg/rb_ikon-lk20.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-lk20.svg) no-repeat center;
}
.maskeTverrfaglig {
   -webkit-mask: url(/images/svg/rb_ikon-tverrfaglig.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-tverrfaglig.svg) no-repeat center;
}
.maskeYFF {
   -webkit-mask: url(/images/svg/rb_ikon-yff.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-yff.svg) no-repeat center;
}
.maskeIT {
   -webkit-mask: url(/images/svg/rb_ikon-it.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-it.svg) no-repeat center;
}
.maskeMP {
   -webkit-mask: url(/images/svg/rb_ikon-mp.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-mp.svg) no-repeat center;
}
.maskeVurdering {
   -webkit-mask: url(/images/svg/rb_ikon-vurdering.svg) no-repeat center;
   mask: url(/images/svg/rb_ikon-vurdering.svg) no-repeat center;
}
.svgIkon {
   background-color: var(--clr-tekst);
   width: 100%;
   height: 100%;
}
/*______ Seksjonsknappfarger ______*/
.ifKnapp.aktiv .ifKnappIkon {
   stroke: var(--aktiv-farge);
}
.ifKnapp.aktiv .ifKnappIkon svg circle {
   fill: var(--aktiv-farge);
}
.ifKnapp.aktiv .ifKnapptittel {
   color: var(--aktiv-farge);
}
.ifKnapp.aktiv[data-farge="safir"] {
   --aktiv-farge: var(--clr-safir);
}
.ifKnapp.aktiv[data-farge="akvamarin"] {
   --aktiv-farge: var(--clr-akvamarin);
}
.ifKnapp.aktiv[data-farge="amazonitt"] {
   --aktiv-farge: var(--clr-amazonitt);
}
.ifKnapp.aktiv[data-farge="smaragd"] {
   --aktiv-farge: var(--clr-smaragd);
}
.ifKnapp.aktiv[data-farge="citrin"] {
   --aktiv-farge: var(--clr-citrin);
}
.ifKnapp.aktiv[data-farge="spessartin"] {
   --aktiv-farge: var(--clr-spessartin);
}
.ifKnapp.aktiv[data-farge="rubin"] {
   --aktiv-farge: var(--clr-rubin);
}
.ifKnapp.aktiv[data-farge="thulitt"] {
   --aktiv-farge: var(--clr-thulitt);
}
.ifKnapp.aktiv[data-farge="kunzitt"] {
   --aktiv-farge: var(--clr-kunzitt);
}
.ifKnapp.aktiv[data-farge="ametyst"] {
   --aktiv-farge: var(--clr-ametyst);
}
/*______ Dekorasjonsfarger ______*/
.seksjons-safir {
   text-decoration: underline var(--clr-safir) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
.seksjons-akvamarin {
   text-decoration: underline var(--clr-akvamarin) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
.seksjons-amazonitt {
   text-decoration: underline var(--clr-amazonitt) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
.seksjons-smaragd {
   text-decoration: underline var(--clr-smaragd) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
.seksjons-citrin {
   text-decoration: underline var(--clr-citrin) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
.seksjons-spessartin {
   text-decoration: underline var(--clr-spessartin) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
.seksjons-rubin {
   text-decoration: underline var(--clr-rubin) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
.seksjons-thulitt {
   text-decoration: underline var(--clr-thulitt) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
.seksjons-kunzitt {
   text-decoration: underline var(--clr-kunzitt) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
.seksjons-ametyst {
   text-decoration: underline var(--clr-ametyst) 3px;
   text-underline-offset: 3px;
   margin-block-end: 1rem;
}
