@media screen and (max-width: 1200px) {
   h5 {
      font-size: 0.9rem;
   }
   p {
      font-size: 0.8rem;
   }
   .gridBeholder {
      width: 90%;
      grid-template-columns: 1.6fr 2.2fr;
      grid-template-areas:
         "oS iF"
         "iH iH"
         "aK aK";
   }
   /*___Faktaboks___*/
   .faktaboks {
      display: flex;
      flex-direction: column;
      max-height: none;
   }
   .fbtittel {
      text-align: center;
   }
   .fbInnhold {
      display: flex;
      flex-direction: column;
   }
   .fbListeElem {
      padding-block: 0.1rem;
      grid-template-columns: 1.2fr minmax(100px, 2fr);
   }
}
@media screen and (max-width: 800px) {
   h5 {
      font-size: 0.8rem;
   }
   p {
      font-size: 0.7rem;
   }
   .gridBeholder {
      padding-inline: 1rem;
      padding-block: 2rem;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
         "fB oS"
         "iF iF"
         "iH iH"
         "gI gI"
         "aK aK";
   }
}
@media screen and (max-width: 500px) {
   h5 {
      font-size: 1rem;
   }
   p {
      font-size: 0.9rem;
   }
   .gridBeholder {
      grid-template-columns: auto;
      grid-template-areas:
         "fB"
         "oS"
         "iF"
         "iH"
         "gI"
         "aK";
   }
}
