@media screen and (max-width: 1200px) {
   h5 {
      font-size: 0.9rem;
   }
   p {
      font-size: 0.8rem;
   }
   .gridBeholder {
      width: 90%;
      grid-template-columns: 1fr 1.2;
      grid-template-areas:
         "oS iF"
         "iH iH"
         "aK aK";
   }
}
@media screen and (max-width: 992px) {
   .mainMedHeader {
      padding-block-start: 0px;
   }
   .tabDesk {
      display: none;
   }
   .tabMob {
      display: block;
   }
}
@media screen and (max-width: 768px) {
   h5 {
      font-size: 1rem;
   }
   p {
      font-size: 0.9rem;
   }
   .gridBeholder {
      grid-template-columns: auto;
      grid-template-areas:
         "oS"
         "iF"
         "iH"
         "gI"
         "aK";
   }
   .logo span {
      display: none;
   }
   .artikkelSeksjonsGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
         "aS1"
         "aS2"
         "kna"
         "det";
      gap: 1rem;
   }
   table thead tr th a {
      display: block;
      margin-inline-end: 0.5rem;
   }
   .fylkesTittel {
      justify-content: space-between;
   }
   .toKolloner {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      gap: 1rem;
   }
}
@media screen and (max-width: 600px) {
   .gridBeholder {
      padding-block-start: 2.5rem;
   }
}
