/*______ Universelle instillinger ______*/
*,
*::before,
*::after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
   font: inherit;
}
html {
   color-scheme: dark light;
}
html,
body {
   height: 100%;
}
body {
   height: 100vh;
   height: 100dvh;
   height: 100svh;
}
img,
picture,
video {
   display: block;
   max-width: 100%;
}
/*______ Fargekoder ______*/
:root {
   /* --clr-main: #efefef;
   --clr-tekst: #3e4247;
   --clr-boks: #fefefe;
   --clr-ramme: #c7c9ca;
   --clr-tekstBoks: #cccccc; */

   --clr-main: #d3d3d3;
   --clr-tekst: #3e4247;
   --clr-ramme: #f5f6f5;
   --clr-ixDBoks: #b9bec2;
   --clr-tabellBoks: #d4d4d8;
   --clr-tekstBoks: #dfdfdf;
   --clr-bakgrunn: #b6b6b6;

   --clr-safir: #367fff; /*programfag og drzift*/
   --clr-akvamarin: #1892ba; /*yff og lyddesign*/
   --clr-amazonitt: #228468; /*kroppsøving og animasjon*/
   --clr-smaragd: #518238; /*naturfag og film-vfx*/
   --clr-citrin: #a18603; /*matte og fotografi*/
   --clr-spessartin: #d1690f; /*engelsk og 3d-grafikk*/
   --clr-rubin: #d24040; /*norsk, hoytid og 2d-grafikk*/
   --clr-thulitt: #b44f99; /*forum og innovasjon*/
   --clr-kunzitt: #9a5daf; /*midttime og teknologi*/
   --clr-ametyst: #7258bb; /*ig og utvikling*/

   --clr-skolefarge1: #ef7c00;
   --clr-skolefarge2: #000000;
}
.darkmode {
   --clr-main: #14151f;
   --clr-tekst: #a8a8a8;
   --clr-ramme: #57637a;
   --clr-ixDBoks: #0b0c13;
   --clr-tabellBoks: #1a1c29;
   --clr-tekstBoks: #262738;
   --clr-bakgrunn: #07070b;

   --clr-safir: #1fa6e2; /*programfag og drift*/
   --clr-akvamarin: #33c9c4; /*yff og lyddesign*/
   --clr-amazonitt: #35b06f; /*kroppsøving og animasjon*/
   --clr-smaragd: #839e53; /*naturfag og film-vfx*/
   --clr-citrin: #e6ce2f; /*matte og fotografi*/
   --clr-spessartin: #e68d2f; /*engelsk og 3d-grafikk*/
   --clr-rubin: #ec4f28; /*norsk, hoytid og 2d-grafikk*/
   --clr-thulitt: #c973af; /*forum og innovasjon*/
   --clr-kunzitt: #b18bf4; /*midttime og teknologi*/
   --clr-ametyst: #7b77ff; /*ig og utvikling*/

   --clr-skolefarge1: #ef7c00;
   --clr-skolefarge2: #ffffff;
}
/*______ Skolelogo ______*/
.skolefarge1 {
   fill: var(--clr-skolefarge1);
}
.skolefarge2 {
   fill: var(--clr-skolefarge2);
}
/*______ Bakgrunn- og tekstfarge ______*/
body {
   background-color: var(--clr-bakgrunn);
   color: var(--clr-tekst);
}
main {
   background-color: var(--clr-main);
}
/*______ Skrifttype ______*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
   color: var(--clr-tekst);
   line-height: 1.5;
   font-weight: 300;
}
h1,
h2,
h3,
h4 {
   font-family: "Roboto Slab", serif;
}
h5,
em,
p {
   font-family: "Roboto", sans-serif;
}
h6 {
   font-family: "Roboto Mono", monospace;
}

h1 {
   font-size: clamp(1.4rem, 3vw, 2rem);
}
h2 {
   font-size: clamp(1.2rem, 2vw, 1.6rem);
   font-weight: 700;
}
h3 {
   font-size: clamp(1rem, 1.4vw, 1.4rem);
   font-weight: 500;
}
h4 {
   font-size: clamp(0.9rem, 9vw, 1.2rem);
   font-weight: 500;
}
h5 {
   font-size: clamp(0.9rem, 1.1vw, 1.1rem);
   font-weight: 500;
}
h6 {
   font-size: clamp(0.6rem, 0.8vw, 0.8rem);
   font-weight: 500;
}
p {
   font-size: clamp(0.8rem, 0.9vw, 1rem);
}
i {
   font-style: italic;
}
b {
   font-weight: 500;
}
em {
   font-size: clamp(0.9rem, 1.1vw, 1.1rem);
   font-weight: 700;
}
/*______ Knapper og lenker ______*/
button {
   background-color: transparent;
   border: none;
   background: none;
   cursor: pointer;
}
a {
   cursor: pointer;
   text-decoration: none;
}
a:link {
   color: var(--clr-spessartin);
   text-decoration: 3px solid var(--clr-spessartin);
}
a:visited {
   color: var(--clr-spessartin);
   text-decoration: none;
}
/* a:hover {
} */
/* a:active {} */
/*____Main grid____*/
body {
   /* strekker innholdet i body til å dekke all tilgjengelig skjermplass */
   max-width: 1600px;
   margin: auto;
   display: grid;
   grid-template-rows:
      auto
      1fr
      auto;
}
/*______ Navigasjon ______*/
nav {
   position: fixed;
   top: 0;
   left: 0;
   display: grid;
   grid-template-columns: 0.2fr 1fr 0.2fr;
   grid-template-rows: 1fr;
   place-content: center;
   background-color: var(--clr-tekstBoks);
   border-bottom: 3px solid var(--clr-ramme);
   height: 50px;
   width: 100%;
   z-index: 150;
   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.hjem {
   display: flex;
   align-items: center;
   justify-content: start;
   width: 35px;
   height: 35px;
   cursor: pointer;
   margin-inline: 1rem;
}
.logo {
   display: flex;
   align-items: center;
   place-self: center;
   font-family: "Roboto Slab", serif;
   font-weight: 700;
   font-size: 30px;
}
.logo > * {
   margin-inline: 1rem;
}
.flexHoyre {
   display: flex;
   align-items: center;
   justify-content: end;
}
.flexHoyre > * {
   margin-inline: 1rem;
}
.dag-natt {
   width: 35px;
   height: 35px;
}
.skolelogo {
   width: 30px;
   height: 30px;
}
.pil {
   width: 24px;
   height: 30px;
}
.utilgjengelig {
   opacity: 0.2;
}
/*______ headerområde ______*/
header {
   margin-top: 50px;
}
.hero {
   position: relative;
   height: 350px; /* Sett høyden på banneret etter behov */
   left: 50%;
   transform: translateX(-50%);
}
.hero-bilde {
   /* Stil for bannerbildet */
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; /* Sørger for at bildet fyller hele banneret */
   object-position: bottom;
}
.hero-tittel {
   position: absolute;
   top: 20px;
   left: 20px;
   padding: 0px 10px 7.5px 7.5px; /* top | right | bottom | left */
   background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
   border-radius: 0.2rem;
   text-decoration: underline #ff9100 4px;
   text-underline-offset: 4px;
}
.hero-tittel h1 {
   color: whitesmoke;
}
.hero-emblem {
   position: relative;
   bottom: -80%;
   width: 120px;
   height: 120px;
   margin: auto;
   padding: 0.8rem;
   z-index: 110;
}
/*______ Main ______*/
.boksRamme {
   border-top-right-radius: clamp(0.2rem, 0.4rem, 0.6vw);
   border-top-left-radius: clamp(0.8rem, 1.2rem, 1.2vw);
   border-bottom-left-radius: clamp(0.2rem, 0.4rem, 0.6vw);
   border-bottom-right-radius: clamp(0.8rem, 1.2rem, 1.2vw);
   border-style: solid;
}
.sBoksRamme {
   border-top-right-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-top-left-radius: clamp(0.4rem, 0.8rem, 0.8vw);
   border-bottom-left-radius: clamp(0.1rem, 0.2rem, 0.3vw);
   border-bottom-right-radius: clamp(0.4rem, 0.8rem, 0.8vw);
   border-style: solid;
}
.rundRamme {
   border-radius: 50rem;
   border-style: solid;
}
.tekst {
   background-color: var(--clr-tekstBoks);
}
.ixD {
   background-color: var(--clr-ixDBoks);
}
.tab {
   background-color: var(--clr-tabellBoks);
   border-radius: clamp(0.2rem, 0.4rem, 0.6vw);
}
.xSB {
   border-color: var(--clr-ramme);
   border-width: 1.5px 1.5px 3px 3px;
}
.sB {
   border-color: var(--clr-ramme);
   border-width: 2px 2px 4px 4px;
}
.lB {
   border-width: 3px 3px 6px 6px;
   border-color: var(--clr-ramme);
}
.xSPA {
   /* xtra small asymmetric padding */
   padding-block: 0.25rem;
   padding-inline: 0.5rem;
}
.sPA {
   /* small asymmetric padding */
   padding-block: 0.5rem;
   padding-inline: 1rem;
}

.xSPS {
   /* xtra small symmetric padding */
   padding: 0.5rem;
}

.sPS {
   /* small symmetric padding */
   padding: 1rem;
}

.lP {
   padding: 1rem;
}
/*______ Liste ______*/
ul {
   list-style: none; /* Remove default bullets */
   margin-block-end: 1rem;
}
ul li {
   margin-left: 1em;
}
ul li p::before {
   content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
   color: var(--clr-citrin); /* Change the color */
   font-weight: bold; /* If you want it to be bold */
   display: inline-block; /* Needed to add space between the bullet and the text */
   width: 1em; /* Also needed for space (tweak if needed) */
   margin-left: -1em; /* Also needed for space (tweak if needed) */
}
ul li a button {
   margin-left: -1em;
}
.toKolloner {
   display: grid;
   grid-template-columns: 1fr 0.75fr;
   gap: 1rem;
}
/*______ svgIkon ______*/
.svgIkon {
   background-color: var(--clr-tekst);
   width: 100%;
   height: 100%;
}
/*______ tekstFarger ______*/
.rubinTekst {
   color: var(--clr-rubin);
}
.spessartinTekst {
   color: var(--clr-spessartin);
}
.citrinTekst {
   color: var(--clr-citrin);
}
.smaragdTekst {
   color: var(--clr-smaragd);
}
.amazonittTekst {
   color: var(--clr-amazonitt);
}
.akvamarinTekst {
   color: var(--clr-akvamarin);
}
.safirTekst {
   color: var(--clr-safir);
}
.ametystTekst {
   color: var(--clr-ametyst);
}
.kunzittTekst {
   color: var(--clr-kunzitt);
}
.thulittTekst {
   color: var(--clr-thulitt);
}

.rubinBak {
   background-color: var(--clr-rubin);
}
.spessartinBak {
   background-color: var(--clr-spessartin);
}
.citrinBak {
   background-color: var(--clr-citrin);
}
.smaragdBak {
   background-color: var(--clr-smaragd);
}
.amazonittBak {
   background-color: var(--clr-amazonitt);
}
.akvamarinBak {
   background-color: var(--clr-akvamarin);
}
.safirBak {
   background-color: var(--clr-safir);
}
.ametystBak {
   background-color: var(--clr-ametyst);
}
.kunzittBak {
   background-color: var(--clr-kunzitt);
}
.thulittBak {
   background-color: var(--clr-thulitt);
}
/*______ BorderFarger ______*/
.rubinRamme {
   border-color: var(--clr-rubin);
}
.spessartinRamme {
   border-color: var(--clr-spessartin);
}
.citrinRamme {
   border-color: var(--clr-citrin);
}
.smaragdRamme {
   border-color: var(--clr-smaragd);
}
.amazonittRamme {
   border-color: var(--clr-amazonitt);
}
.akvamarinRamme {
   border-color: var(--clr-akvamarin);
}
.safirRamme {
   border-color: var(--clr-safir);
}
.ametystRamme {
   border-color: var(--clr-ametyst);
}
.kunzittRamme {
   border-color: var(--clr-kunzitt);
}
.thulittRamme {
   border-color: var(--clr-thulitt);
}

/*______ DeksFarger ______*/
.rubinDek {
   text-decoration: 2px underline var(--clr-rubin);
   text-underline-offset: 3px;
}
.spessartinDek {
   text-decoration: 2px underline var(--clr-spessartin);
   text-underline-offset: 3px;
}
.citrinDek {
   text-decoration: 2px underline var(--clr-citrin);
   text-underline-offset: 3px;
}
.smaragdDek {
   text-decoration: 2px underline var(--clr-smaragd);
   text-underline-offset: 3px;
}
.amazonittDek {
   text-decoration: 2px underline var(--clr-amazonitt);
   text-underline-offset: 3px;
}
.akvamarinDek {
   text-decoration: 2px underline var(--clr-akvamarin);
   text-underline-offset: 3px;
}
.safirDek {
   text-decoration: 2px underline var(--clr-safir);
   text-underline-offset: 3px;
}
.ametystDek {
   text-decoration: 2px underline var(--clr-ametyst);
   text-underline-offset: 3px;
}
.kunzittDek {
   text-decoration: 2px underline var(--clr-kunzitt);
   text-underline-offset: 3px;
}
.thulittDek {
   text-decoration: 2px underline var(--clr-thulitt);
   text-underline-offset: 3px;
}
/*______ footer ______*/
footer {
   height: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   place-content: center;
   background-color: var(--clr-tekstBoks);
   border-top: 3px solid var(--clr-ramme);
   height: 50px;
   width: 100%;
   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
