/*______ Scrollehjulet ______*/
/* Gjemmer bort scrollehjulet for Chrome, Safari og Opera */
html::-webkit-scrollbar {
   display: none;
}
main::-webkit-scrollbar {
   display: none;
}
/* Gjemmer bort scrollehjulet for IE, Edge og Firefox */
html {
   -ms-overflow-style: none; /* IE og Edge */
   scrollbar-width: none; /* Firefox */
}
main {
   -ms-overflow-style: none; /* IE og Edge */
   scrollbar-width: none; /* Firefox */
}
/*______ Skrifttype ______*/
h1 {
   /* Tittel */
   font-family: "Roboto Slab", serif;
   font-weight: 300;
   font-size: clamp(2rem, 3vw, 2rem);
}
h2 {
   /* Dager */
   font-family: "Roboto Slab", serif;
   font-weight: 700;
   font-size: clamp(1.7rem, 2vw, 1.6rem);
   text-align: center;
}
h3 {
   /* Fagtittel */
   font-family: "Roboto Slab", serif;
   font-weight: 500;
   font-size: clamp(0.6rem, 1.4vw, 1.4rem);
   text-align: center;
}
h4 {
   /* Dato */
   font-family: "Roboto Slab", serif;
   font-weight: 500;
   font-size: clamp(0.6rem, 1.1vw, 1.1rem);
   text-align: center;
}
h5 {
   /* lærer */
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: clamp(0.6rem, 1vw, 1.1rem);
   text-align: center;
   margin-bottom: 2%;
}
h6 {
   /* klokkelsett */
   font-family: "Roboto Mono", monospace;
   font-weight: 500;
   font-size: clamp(0.6rem, 0.8vw, 0.8rem);
   text-align: center;
}
p {
   /* brødtekst */
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: clamp(0.7rem, 0.9vw, 1rem);
   text-align: center;
}
i {
   font-style: italic;
}
b {
   font-weight: 500;
}
/*______ fargedeklarering ______*/
body {
   /* strekker innholdet i body til å dekke all tilgjengelig skjermplass */
   background-color: var(--clr-fremheving);
   color: var(--clr-tekst);
   margin: auto;
   display: grid;
   grid-template-rows:
      auto
      1fr
      auto;
}
.farge-programfag {
   color: var(--clr-safir);
   fill: var(--clr-safir);
}
.farge-yff {
   color: var(--clr-akvamarin);
   fill: var(--clr-akvamarin);
}
.farge-kroppsoving {
   color: var(--clr-amazonitt);
   fill: var(--clr-amazonitt);
}
.farge-naturfag {
   color: var(--clr-smaragd);
   fill: var(--clr-smaragd);
}
.farge-matte {
   color: var(--clr-citrin);
   fill: var(--clr-citrin);
}
.farge-engelsk {
   color: var(--clr-spessartin);
   fill: var(--clr-spessartin);
}
.farge-norsk {
   color: var(--clr-rubin);
   fill: var(--clr-rubin);
}
.farge-forum {
   color: var(--clr-thulitt);
   fill: var(--clr-thulitt);
}
.farge-midttimen {
   color: var(--clr-kunzitt);
   fill: var(--clr-kunzitt);
}
.farge-workshop {
   color: var(--clr-ametyst);
   fill: var(--clr-ametyst);
}
.vinterfarger {
   background-color: lightblue;
   border-color: cornflowerblue;
   color: #3e4247;
}
/*______ Skolelogo ______*/
.skolelogo {
   width: clamp(2rem, 3vw, 4rem);
}
.skolefarge1 {
   fill: var(--clr-skolefarge1);
}
.skolefarge2 {
   fill: var(--clr-skolefarge2);
}
/*______ Boksdesign ______*/
.tp-ramme {
   background-color: var(--clr-boks);
   border-color: var(--clr-ramme);
   border-top-right-radius: clamp(0.1rem, 0.4rem, 0.6vw);
   border-top-left-radius: clamp(1rem, 1.8rem, 1.2vw);
   border-bottom-left-radius: clamp(0.5rem, 0.6rem, 0.8vw);
   border-bottom-right-radius: clamp(1rem, 1.8rem, 1.2vw);
   border-width: 2px 2px 6px 6px;
   border-style: solid;
   padding-inline: 0.6vw;
   padding-block: 0.4vw;
}
main {
   display: flex;
   gap: 0.5rem;
   justify-content: space-between;
   min-width: 340px;
   background-color: var(--clr-bakgrunn);
   max-width: 1600px;
   padding-inline: 1vw;
   margin-inline: auto;
   margin-top: 50px;
   box-shadow: 0 5rem 0 0rem var(--clr-bakgrunn);
}
.fagtittel {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 2%;
}
.man,
.tir,
.ons,
.tor,
.fre {
   margin-block-start: 1rem;
}
.gruppe-xy {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}
.gruppe-abc {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
}
/*______ ikoner og bilder ______*/
.svgIkon {
   position: relative;
   width: 50px;
   height: 25px;
   z-index: 110;
}
/*______ fagikoner ______*/
.maskeWorkshop {
   background-color: var(--clr-ametyst);
   -webkit-mask: url(/images/svg/tp_fagikon-workshop.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-workshop.svg) no-repeat center;
}
.maskeProgramfag {
   background-color: var(--clr-safir);
   -webkit-mask: url(/images/svg/tp_fagikon-programfag.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-programfag.svg) no-repeat center;
}
.maskeEngelsk {
   background-color: var(--clr-spessartin);
   -webkit-mask: url(/images/svg/tp_fagikon-engelsk.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-engelsk.svg) no-repeat center;
}
.maskeMatte {
   background-color: var(--clr-citrin);
   -webkit-mask: url(/images/svg/tp_fagikon-matte.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-matte.svg) no-repeat center;
}
.maskeYFF {
   background-color: var(--clr-akvamarin);
   -webkit-mask: url(/images/svg/tp_fagikon-yff.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-yff.svg) no-repeat center;
}
.maskeNaturfag {
   background-color: var(--clr-smaragd);
   -webkit-mask: url(/images/svg/tp_fagikon-naturfag.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-naturfag.svg) no-repeat center;
}
.maskeMidttimen {
   background-color: var(--clr-kunzitt);
   -webkit-mask: url(/images/svg/tp_fagikon-midttimen.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-midttimen.svg) no-repeat center;
}
.maskeForum {
   background-color: var(--clr-thulitt);
   -webkit-mask: url(/images/svg/tp_fagikon-forum.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-forum.svg) no-repeat center;
}
.maskeKroppsoving {
   background-color: var(--clr-amazonitt);
   -webkit-mask: url(/images/svg/tp_fagikon-kroppsoving.svg) no-repeat center;
   mask: url(/images/svg/tp_fagikon-kroppsoving.svg) no-repeat center;
}
footer {
   margin-top: 5rem;
}
