@media (max-width: 1200px) {
   .svgIkon {
      width: 40px;
      height: 20px;
   }
   .gruppe-xy {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
   .gruppe-abc {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
}
/*______ mobilversjon ______*/
@media (max-width: 1200px) {
   .svgIkon {
      width: 30px;
      height: 15px;
   }
}
@media (max-width: 833px) or (orientation: portrait) or (-webkit-min-device-pixel-ratio: 3) or (min-resolution: 350dpi) {
   nav {
      grid-template-columns: 1fr;
   }

   .hjem {
      display: none;
   }
   .flexHoyre {
      display: none;
   }
   .svgIkon {
      width: 50px;
      height: 25px;
   }
   main {
      display: grid;
      grid-auto-flow: column;
      overflow-x: auto;
      gap: 10rem;
      margin-inline: 5rem;
      grid-auto-columns: 100%;
   }

   h1 {
      /* Tittel */
      font-size: 2rem;
      padding-inline: 1rem;
   }
   h2 {
      /* Dager */
      font-size: 1.7rem;
   }
   h3 {
      /* Fagtittel */
      font-size: 1.4rem;
   }
   h4 {
      /* Dato */
      font-size: 1.2rem;
   }
   h5 {
      /* lærer */
      font-size: 1.1rem;
   }
   h6 {
      /* klokkelsett */
      font-size: 0.8rem;
   }
   p {
      /* brødtekst */
      font-size: 0.9rem;
   }
   .ramme {
      padding-inline: 1.2vw;
      padding-block: 0.8vw;
      border-radius: 1.2rem 0.4rem 1.2rem 0.8rem;
   }
   .man,
   .tir,
   .ons,
   .tor,
   .fre {
      border-radius: 1rem;
      width: clamp(350px, 80%, 500px);
      padding: 1rem;
   }
   .ons {
      box-shadow: 0 60px 0 0rem var(--clr-bakgrunn);
   }
   .snap-inline {
      scroll-snap-type: inline mandatory;
      scroll-behavior: smooth;
   }
   .snap-inline > * {
      scroll-snap-align: center;
   }
   footer {
      display: none;
   }
}

/* iphone 4-12 */
/*@media only screen and (min-device-width: 320px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
   main {
      display: grid;
      grid-auto-flow: column;
      overflow-x: auto;
      gap: 10rem;
      grid-auto-columns: 100%;
      margin-bottom: 5rem;
   }
   h1 {
      font-size: 2rem;
      padding-inline: 1rem;
   }
   h2 {
      font-size: 1.7rem;
   }
   h3 {
      font-size: 1.4rem;
   }
   h4 {
      font-size: 1.2rem;
   }
   h5 {
      font-size: 1.1rem;
   }
   h6 {
      font-size: 0.8rem;
   }
   p {
      font-size: 0.9rem;
   }
   .ramme {
      padding-inline: 1.2vw;
      padding-block: 0.8vw;
      border-radius: 1.2rem 0.4rem 1.2rem 0.8rem;
   }
   .man,
   .tir,
   .ons,
   .tor,
   .fre {
      background-color: var(--clr-fremheving);
      border-radius: 1rem;
      width: clamp(350px, 80%, 500px);
      padding: 1rem;
   }
   .ons {
      box-shadow: 0 60px 0 0rem var(--clr-fremheving);
   }
   .snap-inline {
      scroll-snap-type: inline mandatory;
      scroll-behavior: smooth;
   }
   .snap-inline > * {
      scroll-snap-align: center;
   }
}*/
