.mob {
   display: none;
}

@media screen and (max-width: 1200px) {
   body {
      /* strekker innholdet i body til å dekke all tilgjengelig skjermplass */
      display: grid;
      grid-template-rows: min-content;
      background-color: var(--clr-main);
   }
   header {
      display: none;
   }
   main {
      margin-top: 50px;
   }
   .svgIkon {
      width: 40px;
      height: 20px;
   }
   .desk {
      display: none;
   }
   .mob {
      display: block;
   }
   h1 {
      /* Tittel */
      font-size: 1.6rem;
   }
   h2 {
      /* Dager */
      font-size: 1.4rem;
   }
   h3 {
      /* Fagtittel */
      font-size: 1.2rem;
      padding-inline: 0.5rem;
   }
   h4 {
      /* sted */
      font-size: 1rem;
   }
   h5 {
      /* lærer */
      font-size: 0.9rem;
   }
   h6 {
      /* klokkelsett */
      font-size: 0.7rem;
   }
   p {
      /* brødtekst */
      font-size: 0.8rem;
   }

   .boksRamme {
      border-radius: 1.2rem 0.4rem 1.2rem 0.8rem;
   }
   .fagtittel {
      margin-bottom: 1%;
   }
   footer {
      display: none;
   }
   .lB,
   .sB {
      border-width: 1px 1px 3px 3px;
   }
}
