@media (max-width: 1200px) {
   .gruppe-xy {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
   .gruppe-abc {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
   .svgIkon {
      width: 30px;
      height: 15px;
   }
}
@media (max-width: 833px) or (orientation: portrait) {
   nav {
      grid-template-columns: 1fr;
   }
   .logo span {
      display: none;
   }
   .hjem {
      display: none;
   }
   .flexHoyre {
      display: none;
   }
   .svgIkon {
      width: 50px;
      height: 25px;
   }
   main {
      display: grid;
      min-width: 350px;
      max-width: 500px;
   }

   h1 {
      /* Tittel */
      font-size: 2rem;
      padding-inline: 1rem;
   }
   h2 {
      /* Dager */
      font-size: 1.7rem;
   }
   h3 {
      /* Fagtittel */
      font-size: 1.4rem;
   }
   h4 {
      /* Dato */
      font-size: 1.2rem;
   }
   h5 {
      /* lærer */
      font-size: 1.1rem;
   }
   h6 {
      /* klokkelsett */
      font-size: 0.8rem;
   }
   p {
      /* brødtekst */
      font-size: 0.9rem;
   }
   .boksRamme {
      padding-inline: 1.2vw;
      padding-block: 0.8vw;
      border-radius: 1.2rem 0.4rem 1.2rem 0.8rem;
   }
   .tir,
   .ons,
   .tor,
   .fre {
      display: none;
   }
      /* border-radius: 1rem;
      width: clamp(350px, 80%, 500px);
      padding: 1rem; */
   footer {
      display: none;
   }
}
/* 
or (-webkit-min-device-pixel-ratio: 3) or (min-device-width: 320px) and (max-device-width: 844px) or (-webkit-min-device-pixel-ratio: 2) or (min-resolution: 350dpi) */