.man {
   flex: 1;
   display: grid;
   gap: 0.5rem;
   grid:
      "d1" 0.4fr
      "fr" 1fr
      "p1" 1fr
      "p1" 1fr
      "p1" 1fr
      ".." 0.1fr
      "e1" 1fr
      "e1" 1fr
      "e1" 1fr
      ".." 1fr
      /1fr;
}
.tir {
   flex: 1;
   display: grid;
   gap: 0.5rem;
   grid:
      "d2" 0.4fr
      "s2" 1fr
      "s2" 1fr
      "s2" 1fr
      "s2" 1fr
      "s2" 0.1fr
      "s2" 1fr
      "s2" 1fr
      "s2" 1fr
      "s2" 1fr
      /1fr;
}
.ons {
   flex: 1;
   display: grid;
   gap: 0.5rem;
   grid:
      "d3" 0.4fr
      ".." 1fr
      ".." 1fr
      "t1" 1fr
      "t1" 1fr
      "t1" 0.1fr
      "t1" 1fr
      ".." 1fr
      ".." 1fr
      ".." 1fr
      /1fr;
}
.tor {
   flex: 1;
   display: grid;
   gap: 0.5rem;
   grid:
      "d4" 0.4fr
      "s1" 1fr
      "s1" 1fr
      "s1" 1fr
      "s1" 1fr
      "s1" 0.1fr
      "s1" 1fr
      "s1" 1fr
      "s1" 1fr
      "s1" 1fr
      /1fr;
}
.fre {
   flex: 1;
   display: grid;
   gap: 0.5rem;
   grid:
      "d5" 0.4fr
      ".." 1fr
      "t2" 1fr
      "t2" 1fr
      "t2" 1fr
      "t2" 0.1fr
      "t2" 1fr
      "t2" 1fr
      ".." 1fr
      ".." 1fr
      /1fr;
}
/* Mandag */
.mandag {
   grid-area: d1;
}

.forum {
   grid-area: fr;
}

.programfag1 {
   grid-area: p1;
}

.engelsk1 {
   grid-area: e1;
}

/* tirsdag */
.tirsdag {
   grid-area: d2;
}

.ig {
   grid-area: ig;
}

.matte1 {
   grid-area: m1;
}

.programfag2 {
   grid-area: p2;
}

/* onsdag */
.onsdag {
   grid-area: d3;
}

.matte2 {
   grid-area: m2;
}

.engelsk2 {
   grid-area: e2;
}

.programfag3 {
   grid-area: p3;
   margin-bottom: -4rem;
}

/* torsdag */
.torsdag {
   grid-area: d4;
}

.yff1 {
   grid-area: y1;
}

.midttimen {
   grid-area: mt;
}

.yff2 {
   grid-area: y2;
}

/* fredag */
.fredag {
   grid-area: d5;
}

.programfag4 {
   grid-area: p4;
}

.naturfag {
   grid-area: nt;
}

.kroppsoving {
   grid-area: gy;
}

.turdag1 {
   grid-area: t1;
}

.turdag2 {
   grid-area: t2;
}
.studiedag1 {
   grid-area: s1;
   opacity: 0.4;
}
.studiedag2 {
   grid-area: s2;
   opacity: 0.4;
}
