/*______ Skrifttype ______*/
h1 {
   /* Sideittel */
   font-family: "Roboto Slab", serif;
   font-weight: 300;
   font-size: clamp(2rem, 3vw, 4rem);
}
h2 {
   /* Infoboks */
   font-family: "Roboto Slab", serif;
   font-weight: 700;
   font-size: clamp(1.7rem, 2vw, 2.3rem);
}
h3 {
   /* Oppsummeringstittel */
   font-family: "Roboto Slab", serif;
   font-weight: 500;
   font-size: clamp(1rem, 9vw, 1.7rem);
}
h4 {
   /* Knapptekst */
   font-family: "Roboto Slab", serif;
   font-weight: 500;
   font-size: clamp(0.7rem, 9vw, 1.1rem);
}
h5 {
   /* Oppsummeringstekst */
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: clamp(0.8rem, 1vw, 1.3rem);
}
h6 {
   /* tall */
   font-family: "Roboto Mono", monospace;
   font-weight: 500;
   font-size: clamp(0.4rem, 0.8vw, 1.1rem);
}
p {
   /* brødtekst */
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: clamp(0.9rem, 0.9vw, 1.1rem);
}
i {
   font-style: italic;
}
b {
   font-weight: 500;
}
/*____Main grid____*/
body {
   /* strekker innholdet i body til å dekke all tilgjengelig skjermplass */
   background-color: var(--clr-fremheving);
   color: var(--clr-tekst);
   max-width: 2000px;
   margin: auto;
   display: grid;
   grid-template-rows:
      auto
      auto
      1fr
      auto;
}
/*______ Navigasjon ______*/
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-block: 0.5rem;
   padding-inline: 1rem;
   background-color: var(--clr-ramme);
}
/*______ headerområde ______*/
.hero {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 300px; /* Sett høyden på banneret etter behov */
}
.hero-bilde {
   /* Stil for bannerbildet */
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; /* Sørger for at bildet fyller hele banneret */
}
.hero-tittel {
   position: absolute;
   top: 20px;
   left: 20px;
   padding: 5px 20px 10px 15px; /* top | right | bottom | left */
   background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
   border-radius: 0.2rem;
   color: whitesmoke;
   text-decoration: underline #ff9100 4px;
   text-underline-offset: 4px;
}
.hero-emblem {
   position: relative; /*flytter ikonet relativt i forhold til bannerbildet */
   bottom: -50%; /*Skyver ikonet 50% av egen størrelse nedover fra banneren */
   transform: translateX(-50%); /*flytter origin til midten av objektet*/
}
/*______ hovedinnhold ______*/
main {
   background-color: var(--clr-bakgrunn);
}
.rb-ramme {
   background-color: var(--clr-boks);
   border-color: var(--clr-ramme);
   border-top-right-radius: clamp(0.1rem, 0.4rem, 0.6vw);
   border-top-left-radius: clamp(1rem, 1.8rem, 1.2vw);
   border-bottom-left-radius: clamp(0.5rem, 0.6rem, 0.8vw);
   border-bottom-right-radius: clamp(1rem, 1.8rem, 1.2vw);
   border-width: 2px 2px 6px 6px;
   border-style: solid;
   padding: 1rem;
}
.gridBeholder {
   display: grid;
   grid-gap: 1rem;
   padding-block: 2rem;
   width: 80%;
   margin-inline: auto;
   grid-template-columns: repeat(3, 1fr);
   grid-template-areas:
      "fB fB fB"
      "oS oS oS"
      "iF iF iF"
      "iH iH iH"
      "gI aK aK";
}
/*___Faktaboks___*/
.faktaboks {
   grid-area: fB;
   display: grid;
   gap: 1rem;
   grid-template-columns: 0.8fr 2.2fr;
   max-height: 300px;
}
.fbBilde {
   width: 100%;
   max-height: 100%;
   object-fit: cover;
   border-radius: 1rem;
}
.fbtittel {
   grid-column: 1 / span 2;
}
.fbInnhold {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: auto 1fr;
   list-style: none;
}
.fbListeElem {
   display: grid;
   grid-template-columns: 0.8fr minmax(100px, 2fr);
   grid-gap: 10px;
   padding-block: 0.2rem;
}

/*______ Maingrid-seksjonplasseringer ______*/
.oversikt {
   /* Oppsummering */
   grid-area: oS;
}
.innholdsfortegnelse {
   /* seksjonknapper */
   grid-area: iF;
}
.ifSeksjoner {
   /* gjembart seksjon */
   grid-area: iH;
}
.galleri {
   /* galleri */
   grid-area: gI;
}

.artikler {
   /*relevante artikler*/
   grid-area: aK;
}
/*______ Seksjonsknapper ______*/
.innholdsfortegnelse {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   place-content: center;
}
.ifKnapp {
   display: grid;
   grid-template-columns: auto 1fr;
   margin: 0.2rem;
   align-items: center;
   cursor: pointer;
   transform-origin: center;
   transition: transform 0.3s ease-in-out;
}
.ifKnapp:hover,
.ifKnapp:focus {
   transform: scale(1.05);
}
.ifKnappIkon {
   background-color: var(--clr-ramme);
   width: 50px;
   height: 50px;
   border-radius: 50%;
   outline: 4px solid var(--clr-boks);
   z-index: 4;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 2;
   stroke-miterlimit: 10;
   stroke: var(--clr-tekst);
   fill: none;
}
.ifKnappIkon svg circle {
   fill: var(--clr-tekst);
   stroke: none;
}
.ifKnapptittel {
   background-color: var(--clr-ramme);
   color: var(--clr-tekst);
   padding: 0.6rem;
   border-radius: 0.5rem;
   margin-left: -0.5rem;
   padding-left: 1rem;
   z-index: 3;
}
/*______ Seksjonsknappfarger ______*/
.ifKnapp.aktiv .ifKnappIkon {
   stroke: var(--aktiv-farge);
}

.ifKnapp.aktiv .ifKnappIkon svg circle {
   fill: var(--aktiv-farge);
}

.ifKnapp.aktiv .ifKnapptittel {
   color: var(--aktiv-farge);
}
.ifKnapp.aktiv[data-farge="safir"] {
   --aktiv-farge: var(--clr-safir);
}
.ifKnapp.aktiv[data-farge="akvamarin"] {
   --aktiv-farge: var(--clr-akvamarin);
}
.ifKnapp.aktiv[data-farge="amazonitt"] {
   --aktiv-farge: var(--clr-amazonitt);
}
.ifKnapp.aktiv[data-farge="smaragd"] {
   --aktiv-farge: var(--clr-smaragd);
}
.ifKnapp.aktiv[data-farge="citrin"] {
   --aktiv-farge: var(--clr-citrin);
}
.ifKnapp.aktiv[data-farge="spessartin"] {
   --aktiv-farge: var(--clr-spessartin);
}
.ifKnapp.aktiv[data-farge="rubin"] {
   --aktiv-farge: var(--clr-rubin);
}
.ifKnapp.aktiv[data-farge="thulitt"] {
   --aktiv-farge: var(--clr-thulitt);
}
.ifKnapp.aktiv[data-farge="kunzitt"] {
   --aktiv-farge: var(--clr-kunzitt);
}
.ifKnapp.aktiv[data-farge="ametyst"] {
   --aktiv-farge: var(--clr-ametyst);
}
/*______ Seksjonanimasjon ______*/
.ifSeksjon {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.3s ease-out;
}
.ifSeksjon.synlig {
   max-height: 100vh;
   transition: max-height 0.3s ease-in;
}
.ifSeksjon:not(.synlig) {
   max-height: 0;
   transition: max-height 0.3s ease-out;
}
/*______ Bildegelleri ______*/
.galleri-grid {
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 10px;
   height: 100%;
}
.galleri-grid img:nth-child(n + 5) {
   display: none;
}
.pil {
   position: absolute;
   top: 50%;
   width: 40px;
   height: 50px;
   transform: translateY(-50%);
   fill: var(--clr-tekst);
   cursor: pointer;
   opacity: 0.2;
   transition: opacity 0.2s ease-in-out;
}
.pil:hover,
.pil:focus {
   opacity: 1;
}
.pil-neste {
   right: 0;
   height: 100%;
   width: 60px;
   padding-inline-start: 10px;
   padding-inline-end: 30px;
   background-image: radial-gradient(farthest-side at 70% 50%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.pil-tilbake {
   left: 0;
   height: 100%;
   width: 60px;
   padding-inline-end: 10px;
   padding-inline-start: 30px;
   background-image: radial-gradient(farthest-side at 30% 50%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.miniatyrbilde {
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor: pointer;
   transform-origin: center;
   transition: transform 0.3s ease-in-out;
   border-radius: 0.4rem;
}
.miniatyrbilde:hover,
.miniatyrbilde:focus {
   outline: 2px solid var(--clr-ramme);
}
.sideTeller {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   padding-bottom: 0.2rem;
}
.gjeldendeSiden,
.siderTotalt,
.sideSkille {
   font-family: "Roboto Mono", monospace;
   font-weight: 500;
   font-size: 1.2rem;
   margin-inline: 0.2rem;
   color: var(--clr-tekst);
}
.bildefremvisning {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.8);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   display: none;
}
.fokusramme {
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.fokusrammeHeader {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.kryss {
   width: 50px;
   height: 50px;
   stroke: var(--clr-tekst);
   cursor: pointer;
   fill: var(--clr-bakgrunn);
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 4;
   stroke-miterlimit: 10;
}
.fokusKarusell {
   display: grid;
   grid-template-areas: "overlapp";
}
.fokusKarusell > * {
   grid-area: overlapp;
}
.fokuspil {
   width: 40px;
   height: 50px;
   fill: var(--clr-tekst);
   cursor: pointer;
   opacity: 0.2;
   transition: opacity 0.2s ease-in-out;
}
.fokuspil:hover,
.fokuspil:focus {
   opacity: 1;
}
.fokuspil-neste {
   place-self: end;
   height: 100%;
   width: 60px;
   padding-inline-start: 30px;
   padding-inline-end: 10px;
   background-image: radial-gradient(farthest-side at 70% 50%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
   z-index: 200;
}
.fokuspil-tilbake {
   place-self: start;
   height: 100%;
   width: 60px;
   padding-inline-end: 30px;
   padding-inline-start: 10px;
   background-image: radial-gradient(farthest-side at 30% 50%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
   z-index: 200;
}
.fokusvindu {
   margin-block: 1rem;
   z-index: 190;
   object-fit: contain;
   outline: 0.1rem solid var(--clr-ramme);
   max-width: 100%;
}
.fokusrammeInfo {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
}
.bildekarusell {
   display: flex;
   max-width: 100%;
   overflow-x: auto;
   width: 100%;
}
.alttekst {
   color: var(--clr-tekst);
   font-size: 1.6rem;
   margin: 0;
   padding: 0;
   line-height: 1.5;
}
.bildeTeller {
   display: flex;
   align-items: center;
   justify-content: center;
}
.gjeldendeBilde,
.bilderTotalt,
.bildeSkille {
   font-family: "Roboto Mono", monospace;
   font-weight: 500;
   font-size: 1.6rem;
   margin-inline: 0.2rem;
   color: var(--clr-tekst);
}
.karusellramme {
   padding: 0.2rem;
   height: 100px;
   margin: auto;
   filter: grayscale(80%);
}
.karusellramme:hover,
.karusellramme:focus {
   filter: none;
}
.karusellramme.aktiv {
   border: 2px solid var(--clr-ramme);
   border-radius: 0.4rem;
   filter: none;
}
.karusellbilde {
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor: pointer;
}
/*______ Artikkelområde ______*/
table {
   width: 100%;
}
th {
   padding-block: 0.5rem;
}
thead {
   background-color: var(--clr-ramme);
}
.td-kategori {
   background-color: var(--clr-ramme);
   padding-inline: 1rem;
   padding-block: 0.4rem;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: clamp(0.9rem, 0.9vw, 1.1rem);
}
.td-innhold {
   padding-inline: 1rem;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: clamp(0.9rem, 0.9vw, 1.1rem);
}
td span,
td p {
   display: inline-block;
}
/*______ footer ______*/
footer {
   height: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   place-content: center;
}
/*______ ikoner ______*/
ion-icon {
   font-size: clamp(2rem, 3vw, 4rem);
   fill: var(--clr-tekst);
}
