/*______ Skrifttype ______*/
h1 {
   /* Tittel */
   font-family: "Roboto Slab", serif;
   font-weight: 300;
   font-size: clamp(2rem, 3vw, 4rem);
}
h2 {
   /* Dager */
   font-family: "Roboto Slab", serif;
   font-weight: 700;
   font-size: clamp(1.7rem, 2vw, 2.3rem);
}
h3 {
   /* Fagtittel */
   font-family: "Roboto Slab", serif;
   font-weight: 500;
   font-size: clamp(0.7rem, 9vw, 1.1rem);
}
h4 {
   /* Dato */
   font-family: "Roboto Slab", serif;
   font-weight: 500;
   font-size: clamp(0.6rem, 1.1vw, 1.4rem);
}
h5 {
   /* lærer */
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: clamp(0.8rem, 1vw, 1.6rem);
}
h6 {
   /* klokkelsett */
   font-family: "Roboto Mono", monospace;
   font-weight: 500;
   font-size: clamp(0.4rem, 0.8vw, 1.1rem);
}
p {
   /* brødtekst */
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: clamp(0.7rem, 0.9vw, 1.1rem);
}
i {
   font-style: italic;
}
b {
   font-weight: 500;
}
/*____Main grid____*/
body {
   /* strekker innholdet i body til å dekke all tilgjengelig skjermplass */
   background-color: var(--clr-fremheving);
   color: var(--clr-tekst);
   max-width: 2000px;
   margin: auto;
   display: grid;
   grid-template-rows:
      auto
      auto
      1fr
      auto;
}
/*______ Navigasjon ______*/
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-block: 0.5rem;
   padding-inline: 1rem;
   background-color: var(--clr-ramme);
}
/*______ headerområde ______*/
.hero {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 300px; /* Sett høyden på banneret etter behov */
}
.hero-bilde {
   /* Stil for bannerbildet */
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; /* Sørger for at bildet fyller hele banneret */
}
.hero-tittel {
   position: absolute;
   top: 20px;
   left: 20px;
   padding: 5px 20px 10px 15px; /* top | right | bottom | left */
   background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
   border-radius: 0.2rem;
   color: whitesmoke;
   text-decoration: underline #ff9100 4px;
   text-underline-offset: 4px;
}
.hero-emblem {
   position: relative; /*flytter ikonet relativt i forhold til bannerbildet */
   bottom: -50%; /*Skyver ikonet 50% av egen størrelse nedover fra banneren */
   transform: translateX(-50%); /*flytter origin til midten av objektet*/
}
/*______ hovedinnhold ______*/
main {
   background-color: var(--clr-bakgrunn);
}
.rb-ramme {
   background-color: var(--clr-boks);
   border-color: var(--clr-ramme);
   border-top-right-radius: clamp(0.1rem, 0.4rem, 0.6vw);
   border-top-left-radius: clamp(1rem, 1.8rem, 1.2vw);
   border-bottom-left-radius: clamp(0.5rem, 0.6rem, 0.8vw);
   border-bottom-right-radius: clamp(1rem, 1.8rem, 1.2vw);
   border-width: 2px 2px 6px 6px;
   border-style: solid;
}
.seksjon {
   margin-block: 2rem;
}
.seksjonstittel {
   background-color: var(--clr-ramme);
   border-top-right-radius: clamp(0.1rem, 0.4rem, 0.6vw);
   border-top-left-radius: clamp(0.6rem, 1.8rem, 0.8vw);
}
.seksjonsbeskrivelse {
   padding: 1rem;
}
.seksjonsressurser {
   padding: 2rem;
}
/*______ footer ______*/
footer {
   outline: 2px solid greenyellow;
   height: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   place-content: center;
}
/*______ ikoner ______*/
ion-icon {
   font-size: clamp(2rem, 3vw, 4rem);
   fill: var(--clr-tekst);
}

.gridBeholder {
   display: grid;
   grid-gap: 1rem;
   padding: 1rem;
   width: 80%;
   margin-inline: auto;
   grid-template-columns: repeat(3, 1fr);
   grid-template-areas:
      "fB fB fB"
      "oS oS iF"
      "iH iH iH"
      "gI aK aK";
}
/*___Faktaboks___*/
.faktaboks {
   grid-area: fB;
   display: grid;
   grid-template-columns: 0.8fr 2.2fr;
}

.fbBilde {
   padding: 1rem;
   width: 100%;
   max-height: 100%;
   object-fit: cover;
}
.fbtittel {
   padding-bottom: 1rem;
   grid-column: 1 / span 2;
}
.fbInnhold {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: auto 1fr;
   list-style: none;
   padding: 1rem;
}
.fbListeElem {
   display: grid;
   grid-template-columns: 1fr minmax(150px, 2fr);
   grid-gap: 10px;
   padding-block: 0.2rem;
}

/*___Oversikt og Innholdfortegnelse____*/
.oversikt {
   grid-area: oS;
   padding: 1rem;
}
.oversikt h2 {
   padding-bottom: 0.5rem;
}
.innholdsfortegnelse {
   grid-area: iF;
}

/*___gjembart innhold___*/
.innhold {
   grid-area: iH;
}

/*___galleri___*/
.galleri {
   grid-area: gI;
   border: 2px solid yellow;
}

/*___relevante artikler___*/
.artikler {
   grid-area: aK;
   border: 2px solid lightblue;
}
/*____Seksjonsknapper___*/
.innholdsfortegnelse {
   display: flex;
   flex-wrap: wrap;
   padding: 0.2rem;
   justify-content: center;
}
.ifKnapp {
   display: grid;
   grid-template-columns: auto 1fr;
   margin: 0.2rem;
   align-items: end;
}
.ifKnappBilde {
   background-color: var(--clr-tekst);
   width: 50px;
   height: 50px;
   border-radius: 50%;
   outline: 4px solid var(--clr-boks);
   z-index: 4;
}
.ifKnapptittel {
   background-color: var(--clr-tekst);
   width: 8rem;
   height: auto;
   padding: 0.6rem;
   border-radius: 0.5rem;
   margin-left: -1rem;
   z-index: 3;
}
/*____Seksjonsknappikoner___*/
.seksjonsikon line,
path,
polygon,
rect,
polyline {
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 2;
   stroke-miterlimit: 10;
   stroke: var(--clr-bakgrunn);
   fill: none;
}
.seksjonsikon circle {
   fill: var(--clr-bakgrunn);
}
