@media screen and (max-width: 1350px) {
   h5 {
      font-size: 1rem;
   }
   p {
      font-size: 0.9rem;
   }
   .gridBeholder {
      width: 90%;
      grid-template-columns: 1.5fr 2.5fr;
      grid-template-areas:
         "fB oS"
         "fB iF"
         "iH iH"
         "gI aK";
   }
   /*___Faktaboks___*/
   .faktaboks {
      display: flex;
      flex-direction: column;
   }
   .fbtittel {
      text-align: center;
   }
   .fbInnhold {
      display: flex;
      flex-direction: column;
   }
   .fbListeElem {
      padding-block: 0.1rem;
   }
}
@media screen and (max-width: 800px) {
   h5 {
      font-size: 0.9rem;
   }
   p {
      font-size: 0.7rem;
   }
   .gridBeholder {
      padding-inline: 1rem;
      padding-block: 2rem;
      width: 100%;
      grid-template-columns: 1.5fr 2.5fr;
      grid-template-areas:
         "fB oS"
         "iF iF"
         "iH iH"
         "gI aK";
   }
}
@media screen and (max-width: 600px) {
   h5 {
      font-size: 1rem;
   }
   p {
      font-size: 0.9rem;
   }
   .gridBeholder {
      grid-template-columns: auto;
      grid-template-areas:
         "fB"
         "oS"
         "iF"
         "iH"
         "gI"
         "aK";
   }
}
