/*______ Universelle instillinger ______*/
*,
*::before,
*::after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
   font: inherit;
}
html {
   color-scheme: dark light;
}
html,
body {
   height: 100%;
}
body {
   height: 100vh;
   height: 100dvh;
   height: 100svh;
}
img,
picture,
video {
   display: block;
   max-width: 100%;
}
/*______ Fargekoder ______*/
:root {
   --clr-bakgrunn: #efefef;
   --clr-tekst: #3e4247;
   --clr-boks: #fefefe;
   --clr-ramme: #c7c9ca;
   --clr-fremheving: #dddde0;

   --clr-safir: #2c6ad6; /*programfag og drift*/
   --clr-akvamarin: #257da5; /*yff og lyddesign*/
   --clr-amazonitt: #228468; /*kroppsøving og animasjon*/
   --clr-smaragd: #518238; /*naturfag og film-vfx*/
   --clr-citrin: #8b7403; /*matte og fotografi*/
   --clr-spessartin: #9e500b; /*engelsk og 3d-grafikk*/
   --clr-rubin: #d24040; /*norsk, hoytid og 2d-grafikk*/
   --clr-thulitt: #b44f99; /*forum og innovasjon*/
   --clr-kunzitt: #9a5daf; /*midttime og teknologi*/
   --clr-ametyst: #7258bb; /*ig og utvikling*/

   --clr-skolefarge1: #ef7c00;
   --clr-skolefarge2: #000000;
}
.darkmode {
   --clr-bakgrunn: #14151f;
   --clr-tekst: #a8a8a8;
   --clr-boks: #262738;
   --clr-ramme: #57637a;
   --clr-fremheving: #0b0c13;

   --clr-safir: #1fa6e2; /*programfag og drift*/
   --clr-akvamarin: #33c9c4; /*yff og lyddesign*/
   --clr-amazonitt: #35b06f; /*kroppsøving og animasjon*/
   --clr-smaragd: #839e53; /*naturfag og film-vfx*/
   --clr-citrin: #e6ce2f; /*matte og fotografi*/
   --clr-spessartin: #e68d2f; /*engelsk og 3d-grafikk*/
   --clr-rubin: #ec4f28; /*norsk, hoytid og 2d-grafikk*/
   --clr-thulitt: #c973af; /*forum og innovasjon*/
   --clr-kunzitt: #b18bf4; /*midttime og teknologi*/
   --clr-ametyst: #7b77ff; /*ig og utvikling*/

   --clr-skolefarge1: #ef7c00;
   --clr-skolefarge2: #ffffff;
}
/*______ fargedeklarering ______*/
body {
   background-color: var(--clr-bakgrunn);
   color: var(--clr-tekst);
}
/*______ Skrifttype ______*/
h1 {
   /* Tittel */
   font-family: "Roboto Slab", serif;
   font-weight: 300;
   font-size: clamp(2rem, 3vw, 3rem);
}
h2 {
   /* Dager */
   font-family: "Roboto Slab", serif;
   font-weight: 700;
   font-size: clamp(1.7rem, 2vw, 2.3rem);
   text-align: center;
}
h3 {
   /* Fagtittel */
   font-family: "Roboto Slab", serif;
   font-weight: 500;
   font-size: clamp(0.6rem, 1.4vw, 1.7rem);
   text-align: center;
}
h4 {
   /* Dato */
   font-family: "Roboto Slab", serif;
   font-weight: 500;
   font-size: clamp(0.6rem, 1.1vw, 1.4rem);
   text-align: center;
}
h5 {
   /* lærer */
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: clamp(0.6rem, 1vw, 1.3rem);
   text-align: center;
   margin-bottom: 2%;
}
h6 {
   /* klokkelsett */
   font-family: "Roboto Mono", monospace;
   font-weight: 500;
   font-size: clamp(0.4rem, 0.8vw, 1.1rem);
   text-align: center;
}
p {
   /* brødtekst */
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: clamp(0.6rem, 0.9vw, 1.2rem);
   text-align: center;
}
i {
   font-style: italic;
}
b {
   font-weight: 500;
}
/*______ Knapper ______*/
a {
   cursor: pointer;
   text-decoration: none;
}
/*______ Skolelogo ______*/
.skolelogo {
   width: clamp(2rem, 3vw, 4rem);
}
.skolefarge1 {
   fill: var(--clr-skolefarge1);
}
.skolefarge2 {
   fill: var(--clr-skolefarge2);
}
