/*______ Universelle instillinger ______*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  html {
    color-scheme: dark light;
  }
  html, body {
    height: 100%;
  }
  body{
    height: 100vh;
  }
  img, picture, svg, video {
    display: block;
    max-width: 100%;
  }
/*______ Fargekoder ______*/
:root {
  --clr-bakgrunn: #efefef;
  --clr-tekst: #3e4247;
  --clr-boks: #fefefe;
  --clr-ramme: #c7c9ca;
  --clr-fremheving: #dddde0;  

  --clr-safir: #2C6AD6;       /*programfag og drift*/
  --clr-akvamarin: #257DA5;   /*yff og lyddesign*/ 
  --clr-amazonitt: #228468;   /*kroppsøving og animasjon*/  
  --clr-smaragd: #518238;     /*naturfag og film-vfx*/ 
  --clr-citrin: #8B7403;      /*matte og fotografi*/ 
  --clr-spessartin: #9e500b;  /*engelsk og 3d-grafikk*/ 
  --clr-rubin: #D24040;       /*norsk, hoytid og 2d-grafikk*/ 
  --clr-thulitt: #B44F99;     /*forum og innovasjon*/
  --clr-kunzitt: #9A5DAF;     /*midttime og teknologi*/
  --clr-ametyst: #7258BB;     /*ig og utvikling*/

  --clr-skolefarge1: #ef7c00;
  --clr-skolefarge2: #000000;
}
.darkmode {
    --clr-bakgrunn: #14151f;
    --clr-tekst: #a8a8a8;
    --clr-boks: #262738;
    --clr-ramme: #57637a;
    --clr-fremheving: #0B0C13;
  
    --clr-safir: #1FA6E2;       /*programfag og drift*/
    --clr-akvamarin: #33C9C4;   /*yff og lyddesign*/ 
    --clr-amazonitt: #35B06F;   /*kroppsøving og animasjon*/ 
    --clr-smaragd: #839E53;     /*naturfag og film-vfx*/ 
    --clr-citrin: #E6CE2F;      /*matte og fotografi*/ 
    --clr-spessartin: #E68D2F;  /*engelsk og 3d-grafikk*/ 
    --clr-rubin: #EC4F28;       /*norsk, hoytid og 2d-grafikk*/ 
    --clr-thulitt: #C973AF;     /*forum og innovasjon*/
    --clr-kunzitt: #B18BF4;     /*midttime og teknologi*/
    --clr-ametyst: #7B77FF;     /*ig og utvikling*/
  
    --clr-skolefarge1: #ef7c00;
    --clr-skolefarge2: #ffffff;
}
/*______ fargedeklarering ______*/
body {
  background-color: var(--clr-bakgrunn);
  color: var(--clr-tekst);
}
/*______ Knapper ______*/
button {
  background-color: transparent;
  border: none;
  background: none;
  cursor: pointer;
}
/*______ Skolelogo ______*/
.skolelogo {
  width: clamp(2rem, 3vw, 4rem);
}
.skolefarge1{
  fill: var(--clr-skolefarge1);
}
.skolefarge2{
  fill: var(--clr-skolefarge2);
}
/*______ Dag/natt-tema ______*/
.dag-natt{
  width: clamp(2rem, 3vw, 4rem);
  height: clamp(2rem, 3vh, 4rem);
}
.menyknapp-en {
  fill: var(--clr-tekst);
}
.sun {
  fill: var(--clr-tekst);
  stroke: var(--clr-tekst);
}
.moon {
  fill: var(--clr-bakgrunn);
}
/*______ Animasjoner ______*/
.moonAnim{
  animation: moon 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
.sunAnim{
  animation: sun 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
.moonAnimRev{
  animation: moonrev 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
.sunAnimRev{
  animation: sunrev 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
@keyframes sun {
  0% {
    transform: scale(1);
    stroke-dashoffset: 0;
  }
  100% {
    transform: scale(2.4);
    stroke-dashoffset: 19.9;
  }
}
@keyframes moon {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-70px, 70px);
  }
}
@keyframes sunrev {
  0% {
    transform: scale(2.4);
    stroke-dashoffset: 19.9;
  }
  100% {
    transform: scale(1);
    stroke-dashoffset: 0;
  }
}
@keyframes moonrev {
  0% {
    transform: translate(-70px, 70px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}