* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body{
  max-height: 100vh;
  color: #A8A8A8;
  background-color: #14151F;
}

/*______ Skrifttype ______*/

h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;

  font-size: 3rem;
} /* Tittel */

h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
} /* Dager */

h3{
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
} /* Fagtittel */

h4{
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
} /* Dato */

h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2%;
} /* Fagtittel */

h6{
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
} /* Fagtittel */

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.9rem;
  text-align: center;
}

/*______ Fargekoder ______*/
.farge-engelsk{
  color: #E68D2F;
}

.farge-matte{
  color: #DBB700;
}

.farge-naturfag{
  color: #A6BE54;
}

.farge-kroppsoeving{
  color: #35B06F;
}

.farge-programfag{
  color: #339BC9;
}

.farge-yff{
 color: #6680E6;
}

.farge-ig {
  color: #B18BF4;
}

.farge-forum {
  color: #C973A4;
}


/*______ Grid- og Flex-layout ______*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2%;
  height: 6vh;
  width: 96%;
  max-width: 1900px;
  margin-inline: auto;
}

/*______ ukedager ______*/
.ukedager{
  display: grid;
  gap: 0.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'd1 d2 d3 d4 d5'; 
  margin-inline: 2%;
  height: 6vh;
  width: 96%;
  max-width: 1900px;
  margin-inline: auto;
}

.mandag{
  grid-area: d1;
  min-width: 280px;
}

.tirsdag{
  grid-area: d2;
  min-width: 280px;
}

.onsdag{
  grid-area: d3;
  min-width: 280px;
}

.torsdag{
  grid-area: d4;
  min-width: 280px;
}

.fredag{
  grid-area: d5;
  min-width: 280px;
}

/*______ Timeplan ______*/
.timeplan{
  display: grid;
  gap: 0.5rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(120px, auto);
  grid-template-areas:
    'fr ig .. y1 p5'
    'fr ig .. y1 p5'
    'p1 ig m2 y1 p5'
    'p1 ig m2 mt p5'
    'e1 m1 e2 y2 nt'
    'e1 p3 e2 y2 nt'
    'e1 p3 p4 .. ko'
    'p2 .. p4 .. ko'
    'p2 .. pe .. ..'; 
  height: 88vh;
  width: 96%;
  max-width: 1900px;
  margin-inline: auto;
}

/* @media (max-width: 1400px){
  .timeplan{
    display: grid;
    gap: 0.5rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(120px, auto);
    grid-template-areas:
      'fr ig .. y1 p5'
      'fr ig .. y1 p5'
      'p1 ig m2 y1 p5'
      'p1 ig m2 mt p5'
      'e1 m1 e2 y2 nt'
      'e1 p3 e2 y2 nt'
      'e1 p3 p4 .. ko'
      'p2 .. p4 .. ko'
      'p2 .. pe .. ..'; 
    height: 88vh;
    width: 96%;
    max-width: 1900px;
    margin-inline: auto;
  }
} */

/* Mandag */
.forum{
  grid-area: fr;
}

.programfag1{
  grid-area: p1;
}

.engelsk1{  
  grid-area: e1;
}

.programfag2{
  grid-area: p2;
}

/* tirsdag */
.ig{
  grid-area: ig;
}

.matte1{
  grid-area: m1;
}

.programfag3{
  grid-area: p3;
}

/* onsdag */
.matte2{
  grid-area: m2;
}

.engelsk2{
  grid-area: e2;
}

.programfag4{
  grid-area: p4;
}

/* torsdag */
.yff1{
  grid-area: y1;
}

.midttime{
  grid-area: mt;
}

.yff2{
  grid-area: y2;
}

/* fredag */
.programfag5{
  grid-area: p5;
}

.naturfag{
  grid-area: nt;
}

.kroppsoeving{
  grid-area: ko;
}

/*______ periode ______*/
.periode{
  grid-area: pe;
}

/*______ innhold ______*/
.ramme{
  background-color: #262738;
  border-color: #57637A;
  border-radius: 1.8rem 0.4rem 1.8rem 0.4rem;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-style: solid;
  padding: 3%;
  min-width: 280px;
}

.fagtittel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.faginnhold{
  margin-inline: 6%;
}

.gruppe-xy{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.ikon{
  min-height: 30px;
  min-width: 60px;
}
