/*______ Fargekoder ______*/
:root {
  --clr-bakgrunn: #efefef;
  --clr-tekst: #3e4247;
  --clr-boks: #fefefe;
  --clr-ramme: #7d8b97;

  --clr-engelsk: #9e500b;
  --clr-matte: #8b7403;
  --clr-naturfag: #4c7a35;
  --clr-gym: #1f7a60;
  --clr-programfag: #2583ad;
  --clr-yff: #3661ad;
  --clr-ig: #8158bb;
  --clr-forum: #8f538e;
  --clr-norsk: #d24040;
}

.darkmode {
  --clr-bakgrunn: #14151f;
  --clr-tekst: #a8a8a8;
  --clr-boks: #262738;
  --clr-ramme: #57637a;

  --clr-engelsk: #e68d2f;
  --clr-matte: #dbb700;
  --clr-naturfag: #a6be54;
  --clr-gym: #35b06f;
  --clr-programfag: #339bc9;
  --clr-yff: #6680e6;
  --clr-ig: #b18bf4;
  --clr-forum: #c973a4;
  --clr-norsk: #ed6645;
}

body {
  background-color: var(--clr-bakgrunn);
  color: var(--clr-tekst);
}

/*______ boksdesign ______*/
.ramme {
  background-color: var(--clr-boks);
  border-color: var(--clr-ramme);
  border-radius: 1.8rem 0.4rem 1.8rem 0.4rem;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-style: solid;
  padding: 3%;
  min-width: 280px;
}

/*______ dekorasjonsfarger ______*/
.farge-engelsk {
  color: var(--clr-engelsk);
}
.farge-matte {
  color: var(--clr-matte);
}
.farge-naturfag {
  color: var(--clr-naturfag);
}
.farge-gym {
  color: var(--clr-gym);
}
.farge-programfag {
  color: var(--clr-programfag);
}
.farge-yff {
  color: var(--clr-yff);
}
.farge-ig {
  color: var(--clr-ig);
}
.farge-forum {
  color: var(--clr-forum);
}
.farge-norsk {
  color: var(--clr-norsk);
}

/*______ Skrifttype ______*/
h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 3rem;
} /* Tittel */

h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
} /* Dager */

h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
} /* Fagtittel */

h4 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
} /* Dato */

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2%;
} /* Fagtittel */

h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
} /* Fagtittel */

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.9rem;
  text-align: center;
}

/*______ ikoner og bilder ______*/
.ikon {
  min-height: 30px;
  min-width: 60px;
}

.skolelogo {
  width: 2%;
}

button {
  background-color: transparent;
}

.menyknapp-en {
  fill: var(--clr-tekst);
}

.sun {
  fill: var(--clr-tekst);
}
.beam {
  stroke: var(--clr-tekst);
}
.moon {
  fill: var(--clr-bakgrunn);
}
.dag-natt:hover .sun,
.dag-natt:hover .beam {
  animation: sun 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
@keyframes sun {
  0% {
    transform: scale(1);
    stroke-dashoffset: 0;
  }
  100% {
    transform: scale(2.5);
    stroke-dashoffset: 19.9;
  }
}
.dag-natt:hover .moon {
  animation: moon 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
@keyframes moon {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-70px, 70px);
  }
}
