/*______ Universelle instillinger ______*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  color-scheme: dark light;
}
html, body {
  height: 100%;
}
body{
  height: 100vh;
}
img, picture, svg, video {
  display: block;
  max-width: 100%;
}
/*______ Fargekoder ______*/
:root {
  --clr-bakgrunn: #efefef;
  --clr-tekst: #3e4247;
  --clr-boks: #fefefe;
  --clr-ramme: #c7c9ca;
  --clr-fremheving: #dddde0;

  --clr-engelsk: #9e500b;
  --clr-matte: #8b7403;
  --clr-naturfag: #4c7a35;
  --clr-gym: #1f7a60;
  --clr-programfag: #2583ad;
  --clr-yff: #3661ad;
  --clr-ig: #8158bb;
  --clr-forum: #8f538e;
  --clr-norsk: #d24040;
  --clr-skolefarge1: #ef7c00;
  --clr-skolefarge2: #000000;
}
.darkmode {
  --clr-bakgrunn: #14151f;
  --clr-tekst: #a8a8a8;
  --clr-boks: #262738;
  --clr-ramme: #57637a;
  --clr-fremheving: #0B0C13;

  --clr-engelsk: #e68d2f;
  --clr-matte: #dbb700;
  --clr-naturfag: #a6be54;
  --clr-gym: #35b06f;
  --clr-programfag: #339bc9;
  --clr-yff: #6680e6;
  --clr-ig: #b18bf4;
  --clr-forum: #c973a4;
  --clr-norsk: #ed6645;
  --clr-skolefarge1: #ef7c00;
  --clr-skolefarge2: #ffffff;
}
/*______ fargedeklarering ______*/
body {
  background-color: var(--clr-bakgrunn);
  color: var(--clr-tekst);
}
.farge-engelsk {
  color: var(--clr-engelsk);
}
.farge-matte {
  color: var(--clr-matte);
}
.farge-naturfag {
  color: var(--clr-naturfag);
}
.farge-gym {
  color: var(--clr-gym);
}
.farge-programfag {
  color: var(--clr-programfag);
}
.farge-yff {
  color: var(--clr-yff);
}
.farge-ig {
  color: var(--clr-ig);
}
.farge-forum {
  color: var(--clr-forum);
}
.farge-norsk {
  color: var(--clr-norsk);
}
/*______ Skrifttype ______*/
h1 {/* Tittel */
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: clamp(2rem, 3vw, 4rem);
} 
b{
  font-weight: 500;
}
h2 {/* Dager */
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: clamp(1.7rem, 2vw, 2.3rem);
  text-align: center;
} 
h3 {/* Fagtittel */
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: clamp(.6rem, 1.4vw, 1.7rem);
  text-align: center;
} 
h4 {/* Dato */
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: clamp(.6rem, 1.1vw, 1.4rem);
  text-align: center;
} 
h5 {/* lærer */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: clamp(.6rem, 1vw, 1.3rem);
  text-align: center;
  margin-bottom: 2%;
} 
h6 {/* klokkelsett */
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: clamp(.4rem, .8vw, 1.1rem);
  text-align: center;
} 
p {/* brødtekst */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: clamp(.6rem, .9vw, 1.2rem);
  text-align: center;
}
/*______ boksdesign ______*/
.ramme {
  background-color: var(--clr-boks);
  border-color: var(--clr-ramme);
  border-top-right-radius: clamp(0.1rem, 0.4rem, 0.6vw);
  border-top-left-radius: clamp(1rem, 1.8rem, 1.2vw);
  border-bottom-left-radius: clamp(0.1rem, 0.4rem, 0.6vw);
  border-bottom-right-radius: clamp(1rem, 1.8rem, 1.2vw);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-style: solid;
  padding-inline: .6vw;
  padding-block: .4vw;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 340px;
  max-width: 2500px;
  padding-inline: 1vw;
  margin-inline: auto;
  margin-block: 1rem;
}
main{
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  min-width: 340px;
  max-width: 2500px;
  padding-inline: 1vw;
  margin-inline: auto;
}
.fagtittel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.gruppe-xy{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
/*______ ikoner og bilder ______*/
button {
  background-color: transparent;
  border: none;
  background: none;
}
.ikon {
  width: clamp(2rem, 3vw, 6rem);
}
.skolelogo {
  width: clamp(2rem, 3vw, 4rem);
}
.dag-natt{
  width: clamp(2rem, 3vw, 4rem);
  height: clamp(2rem, 3vh, 4rem);
}
.skolefarge1{
  fill: var(--clr-skolefarge1);
}
.skolefarge2{
  fill: var(--clr-skolefarge2);
}
.menyknapp-en {
  fill: var(--clr-tekst);
}
.sun {
  fill: var(--clr-tekst);
  stroke: var(--clr-tekst);
}
.moon {
  fill: var(--clr-bakgrunn);
}
/*______ animasjoner ______*/
.moonAnim{
  animation: moon 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
.sunAnim{
  animation: sun 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
.moonAnimRev{
  animation: moonrev 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
.sunAnimRev{
  animation: sunrev 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
@keyframes sun {
  0% {
    transform: scale(1);
    stroke-dashoffset: 0;
  }
  100% {
    transform: scale(2.4);
    stroke-dashoffset: 19.9;
  }
}
@keyframes moon {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-70px, 70px);
  }
}
@keyframes sunrev {
  0% {
    transform: scale(2.4);
    stroke-dashoffset: 19.9;
  }
  100% {
    transform: scale(1);
    stroke-dashoffset: 0;
  }
}
@keyframes moonrev {
  0% {
    transform: translate(-70px, 70px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/*______ mobilversjon ______*/
@media (max-width: 740px) or (orientation: portrait){
  main{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: space-between;
    width: clamp(340px, 600px, 70%);
    margin-inline: auto;
  }
  h1 {/* Tittel */
    font-size: 2.6rem;
  } 
  h2 {/* Dager */
    font-size: 2rem;
  } 
  h3 {/* Fagtittel */
    font-size: 1.4rem;
  } 
  h4 {/* Dato */
    font-size: 1.1rem;
  } 
  h5 {/* lærer */
    font-size: 1rem;
  } 
  h6 {/* klokkelsett */
    font-size: .8rem;
  } 
  p {/* brødtekst */
    font-size: .9rem;
  }
  .ikon {
    width: 3.4rem;
  }
  .ramme{
    padding-inline: 1.2vw;
    padding-block: .8vw;
  }
  .man,
  .tir,
  .ons,
  .tor,
  .fre{
    background-color: var(--clr-fremheving);
  }
} 
