* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body{
  min-height: 100vh;
}

/*_________________ Skrifttype _________________*/

h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #A8A8A8;
  font-size: 3rem;
} /* Tittel */

h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #A8A8A8;
  font-size: 2rem;
  text-align: center;
} /* Dager */

h3{
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: #A8A8A8;
  font-size: 1.6rem;
  text-align: center;
} /* Fagtittel */

h4{
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: #A8A8A8;
  font-size: 1.4rem;
  text-align: center;
} /* Dato */

h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #A8A8A8;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2%;
} /* Fagtittel */

h6{
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: #A8A8A8;
  font-size: 0.8rem;
  text-align: center;
} /* Fagtittel */

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #A8A8A8;
  font-size: 1rem;
  text-align: center;
}

/*_________________ Fargekoder _________________*/
body{
  background-color: #14151F;
}

.farge-engelsk{
  color: #E68D2F;
}

.farge-matte{
  color: #DBB700;
}

.farge-naturfag{
  color: #A6BE54;
}

.farge-kroppsoeving{
  color: #35B06F;
}

.farge-programfag{
  color: #339BC9;
}

.farge-yff{
 color: #6680E6;
}

.farge-ig {
  color: #B18BF4;
}

.farge-forum {
  color: #C973A4;
}


/*_________________ Tittel og uketall _________________*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  margin-inline: 2%;
}

.ukedager{
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-content: center; */
  display: flex;
  justify-content: space-around;
  height: 4vh;
  margin-inline: 2%;
  min-width: 1430px;
}

/*_________________ Grid- og Flex-layout _________________*/
.timeplan{
  display: grid;
  gap: 0.5rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: 
    'fr ig    y1 p5'
    'fr ig    y1 p5'
    'p1 ig m2 y1 p5'
    'p1 ig m2 mt p5'
    'e1 m1 e2 y2 nt'
    'e1 p3 e2 y2 nt'
    'e1 p3 p4    ko'
    'p2    p4    ko'
    'p2'; 
  height: 90vh;
  margin-inline: 2%;
  }

/*_________________ Mandag _________________*/
.forum{
  grid-area: fr;
}

.programfag1{
  grid-area: p1;
}

.engelsk1{  
  grid-area: e1;
}

.programfag2{
  grid-area: p2;
}

/*_________________ tirsdag _________________*/
.ig{
  grid-area: ig;
}

.matte1{
  grid-area: m1;
}

.programfag3{
  grid-area: p3;
}

/*_________________ onsdag _________________*/
.matte2{
  grid-area: m2;
}

.engelsk2{
  grid-area: e2;
}

.programfag4{
  grid-area: p4;
}

/*_________________ torsdag _________________*/
.yff1{
  grid-area: y1;
}

.midttime{
  grid-area: mt;
}

.yff2{
  grid-area: y2;
}

/*_________________ fredag _________________*/
.programfag5{
  grid-area: p5;
}

.naturfag{
  grid-area: nt;
}

.kroppsoeving{
  grid-area: ko;
}

/*_________________ innhold _________________*/
.ramme{
  background-color: #262738;
  border-color: #57637A;
  border-radius: 1.8rem 0.4rem 1.8rem 0.4rem;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-style: solid;
  padding: 3%;
  min-width: 280px;
}

.fagtittel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.faginnhold{
  margin-inline: 6%;
}

.gruppe-xy{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.ikon{
  min-height: 30px;
  min-width: 60px;
}

/*_________________ periode _________________*/

/*.periode{
  display: grid;
  grid-column: d2-start / d4-end;
  grid-row: t9-start / t9-end;
  place-content: center;
}*/