*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font: inherit;
}

html{
  color-scheme: dark light;
}

body{
  min-height: 100vh;
  color: #A8A8A8;
  background-color: #14151F;
}

img, picture, svg, video{
  display: block;
  max-width: 100%;
}

/*______ Skrifttype ______*/

h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 3rem;
} /* Tittel */

h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
} /* Dager */

h3{
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
} /* Fagtittel */

h4{
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
} /* Dato */

h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2%;
} /* Fagtittel */

h6{
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
} /* Fagtittel */

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
}

/*______ Fargekoder ______*/
.farge-engelsk{
  color: #E68D2F;
}

.farge-matte{
  color: #DBB700;
}

.farge-naturfag{
  color: #A6BE54;
}

.farge-kroppsoeving{
  color: #35B06F;
}

.farge-programfag{
  color: #339BC9;
}

.farge-yff{
 color: #6680E6;
}

.farge-ig{
  color: #B18BF4;
}

.farge-forum{
  color: #C973A4;
}


/*______ Grid- og Flex-layout ______*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2%;
  height: 6vh;
  width: 96%;
  max-width: 1900px;
  margin-inline: auto;
}

@media (orientation: landscape){
  main{
    display: grid;
    gap: 0.5rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(120px, auto);
    grid-template-areas:
      'd1 d2 d3 d4 d5' 
      'fr ig .. y1 p4'
      'fr ig .. y1 p4'
      'p1 ig m2 y1 p4'
      'p1 ig m2 y1 p4'
      'e1 m1 e2 mt nt'
      'e1 p2 e2 y2 nt'
      'e1 p2 p3 y2 ko'
      '.. .. p3 .. ko'; 
    height: 94vh;
    width: 96%;
    max-width: 2000px;
    margin-inline: auto;
    padding-bottom: 2%;
  }
}

@media (orientation: portrait){
  main{
    display: grid;
    gap: 0.5rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(120px, auto);
    grid-template-areas:
      'd1 d2 d3'
      'fr ig ..'
      'fr ig ..'
      'p1 ig m2'
      'p1 ig m2'
      'e1 m1 e2'
      'e1 p2 e2'
      'e1 p2 p3'
      '.. .. p3' 
      'd4 xx d5'
      'y1 xx p4'
      'y1 xx p4'
      'y1 xx p4'
      'mt xx p4'
      'y2 xx nt'
      'y2 xx nt'
      '.. xx ko'
      '.. xx ko';
    width: 96%;
    margin-inline: auto;
  }
}

/* Mandag */
.mandag{
  grid-area: d1;
  min-width: 280px;
}

.forum{
  grid-area: fr;
}

.programfag1{
  grid-area: p1;
}

.engelsk1{  
  grid-area: e1;
}

/* tirsdag */
.tirsdag{
  grid-area: d2;
  min-width: 280px;
}

.ig{
  grid-area: ig;
}

.matte1{
  grid-area: m1;
}

.programfag2{
  grid-area: p2;
}

/* onsdag */
.onsdag{
  grid-area: d3;
  min-width: 280px;
}

.matte2{
  grid-area: m2;
}

.engelsk2{
  grid-area: e2;
}

.programfag3{
  grid-area: p3;
}

@media (orientation: landscape){
  /* torsdag */
  .torsdag{
    grid-area: d4;
    min-width: 280px;
  }

  .yff1{
    grid-area: y1;
  }

  .midttime{
    grid-area: mt;
  }

  .yff2{
    grid-area: y2;
  }

  /* fredag */
  .fredag{
    grid-area: d5;
    min-width: 280px;
  }

  .programfag4{
    grid-area: p4;
  }

  .naturfag{
    grid-area: nt;
  }

  .kroppsoeving{
    grid-area: ko;
  }
}

@media (orientation: portrait){
  /* torsdag */
  .torsdag{
    grid-area: d4;
    min-width: 280px;
    margin-left: 51%;
    margin-right: -51%;
  }

  .yff1{
    grid-area: y1;
    margin-left: 51%;
    margin-right: -51%;
  }

  .midttime{
    grid-area: mt;
    margin-left: 51%;
    margin-right: -51%;
  }

  .yff2{
    grid-area: y2;
    margin-left: 51%;
    margin-right: -51%;
  }

  /* fredag */
  .fredag{
    grid-area: d5;
    min-width: 280px;
    margin-left: -51%;
    margin-right: 51%;
  }

  .programfag4{
    grid-area: p4;
    margin-left: -51%;
    margin-right: 51%;
  }

  .naturfag{
    grid-area: nt;
    margin-left: -51%;
    margin-right: 51%;
  }

  .kroppsoeving{
    grid-area: ko;
    margin-left: -51%;
    margin-right: 51%;
  }
}

/*______ periode ______*/
/* .periode{
  grid-area: pe;
  line-height: 1;
  align-self: center;
  padding-bottom: 10%;
} */

/*______ innhold ______*/
.ramme{
  background-color: #262738;
  border-color: #57637A;
  border-radius: 1.8rem 0.4rem 1.8rem 0.4rem;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-style: solid;
  padding: 3%;
  min-width: 280px;
}

.fagtittel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.faginnhold{
  margin-inline: 6%;
}

.gruppe-xy{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.ikon{
  min-height: 30px;
  min-width: 60px;
}

.skolelogo{
  width: 3.5%;
}