.man {
  flex: 1;
  display: grid;
  gap: 0.5rem;
  grid:
    'd1' 0.4fr
    'p1' 1fr
    'p1' 1fr
    'p1' 1fr
    'p1' 1fr
    '..' 0.1fr
    'e1' 1fr
    'e1' 1fr
    'e1' 1fr
    '..' 1fr
    /1fr;
  justify-self: center;
}
.tir {
  flex: 1;
  display: grid;
  gap: 0.5rem;
  grid:
    'd2' 0.4fr
    'fr' 1fr
    'fr' 1fr
    'ig' 1fr
    'ig' 1fr
    '..' 0.1fr
    'm1' 1fr
    'p2' 1fr
    'p2' 1fr
    '..' 1fr
    /1fr;
  justify-self: center;
}
.ons {
  flex: 1;
  display: grid;
  gap: 0.5rem;
  grid:
    'd3' 0.4fr
    '..' 1fr
    '..' 1fr
    'm2' 1fr
    'm2' 1fr
    '..' 0.1fr
    'e2' 1fr
    'e2' 1fr
    'p3' 1fr
    'p3' 1fr
    /1fr;
    justify-self: center;
}
.tor {
  flex: 1;
  display: grid;
  gap: 0.5rem;
  grid:
    'd4' 0.4fr
    'y1' 1fr
    'y1' 1fr
    'y1' 1fr
    'y1' 1fr
    '..' 0.1fr
    'mt' 1fr
    'y2' 1fr
    'y2' 1fr
    '..' 1fr
    /1fr;
    justify-self: center;
}
.fre {
  flex: 1;
  display: grid;
  gap: 0.5rem;
  grid:
    'd5' 0.4fr
    'p4' 1fr
    'p4' 1fr
    'p4' 1fr
    'p4' 1fr
    '..' 0.1fr
    'nt' 1fr
    'nt' 1fr
    'gy' 1fr
    'gy' 1fr
    /1fr;
    justify-self: center;
}
/* Mandag */
.mandag {
  grid-area: d1;
}

.forum {
  grid-area: fr;
}

.programfag1 {
  grid-area: p1;
}

.engelsk1 {  
  grid-area: e1;
}

/* tirsdag */
.tirsdag {
  grid-area: d2;
}

.ig {
  grid-area: ig;
}

.matte1 {
  grid-area: m1;
}

.programfag2 {
  grid-area: p2;
}

/* onsdag */
.onsdag {
  grid-area: d3;
}

.matte2 {
  grid-area: m2;
}

.engelsk2 {
  grid-area: e2;
}

.programfag3 {
  grid-area: p3;
  margin-bottom: -4rem;
}

/* torsdag */
.torsdag {
  grid-area: d4;
}

.yff1 {
  grid-area: y1;
}

.midttimen {
  grid-area: mt;
}

.yff2 {
  grid-area: y2;
}

/* fredag */
.fredag {
  grid-area: d5;
}

.programfag4 {
  grid-area: p4;
}

.naturfag {
  grid-area: nt;
}

.kroppsoving {
  grid-area: gy;
}