/*______ fargedeklarering ______*/
body {
  background-color: var(--clr-bakgrunn);
  color: var(--clr-tekst);
}
.farge-programfag {
  color: var(--clr-safir);
  fill: var(--clr-safir);
}
.farge-yff {
  color: var(--clr-akvamarin);
  fill: var(--clr-akvamarin);
}
.farge-kroppsoving {
  color: var(--clr-amazonitt);
  fill: var(--clr-amazonitt);
}
.farge-naturfag {
  color: var(--clr-smaragd);
  fill: var(--clr-smaragd);
}
.farge-matte {
  color: var(--clr-citrin);
  fill: var(--clr-citrin);
}
.farge-engelsk {
  color: var(--clr-spessartin);
  fill: var(--clr-spessartin);
}
.farge-norsk {
  color: var(--clr-rubin);
  fill: var(--clr-rubin);
}
.farge-forum {
  color: var(--clr-thulitt);
  fill: var(--clr-thulitt);
}
.farge-midttimen {
  color: var(--clr-kunzitt);
  fill: var(--clr-kunzitt);
}
.farge-ig {
  color: var(--clr-ametyst);
  fill: var(--clr-ametyst);
}
/*______ Skrifttype ______*/
h1 {/* Tittel */
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: clamp(2rem, 3vw, 4rem);
} 
b{
  font-weight: 500;
}
h2 {/* Dager */
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: clamp(1.7rem, 2vw, 2.3rem);
  text-align: center;
} 
h3 {/* Fagtittel */
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: clamp(.6rem, 1.4vw, 1.7rem);
  text-align: center;
} 
h4 {/* Dato */
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: clamp(.6rem, 1.1vw, 1.4rem);
  text-align: center;
} 
h5 {/* lærer */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: clamp(.6rem, 1vw, 1.3rem);
  text-align: center;
  margin-bottom: 2%;
} 
h6 {/* klokkelsett */
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: clamp(.4rem, .8vw, 1.1rem);
  text-align: center;
} 
p {/* brødtekst */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: clamp(.6rem, .9vw, 1.2rem);
  text-align: center;
}
/*______ boksdesign ______*/
.ramme {
  background-color: var(--clr-boks);
  border-color: var(--clr-ramme);
  border-top-right-radius: clamp(0.1rem, 0.4rem, 0.6vw);
  border-top-left-radius: clamp(1rem, 1.8rem, 1.2vw);
  border-bottom-left-radius: clamp(0.1rem, 0.4rem, 0.6vw);
  border-bottom-right-radius: clamp(1rem, 1.8rem, 1.2vw);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-style: solid;
  padding-inline: .6vw;
  padding-block: .4vw;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 340px;
  max-width: 2500px;
  padding-inline: 1vw;
  margin-inline: auto;
  margin-block: 1rem;
}
main{
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  min-width: 340px;
  max-width: 2500px;
  padding-inline: 1vw;
  margin-inline: auto;
}
.fagtittel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.gruppe-xy{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.gruppe-abc{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
/*______ ikoner og bilder ______*/
button {
  background-color: transparent;
  border: none;
  background: none;
}
.ikon {
  width: clamp(2rem, 3vw, 6rem);
}
.skolelogo {
  width: clamp(2rem, 3vw, 4rem);
}
.dag-natt{
  width: clamp(2rem, 3vw, 4rem);
  height: clamp(2rem, 3vh, 4rem);
}
.skolefarge1{
  fill: var(--clr-skolefarge1);
}
.skolefarge2{
  fill: var(--clr-skolefarge2);
}
.menyknapp-en {
  fill: var(--clr-tekst);
}
.sun {
  fill: var(--clr-tekst);
  stroke: var(--clr-tekst);
}
.moon {
  fill: var(--clr-bakgrunn);
}
/*______ animasjoner ______*/
.moonAnim{
  animation: moon 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
.sunAnim{
  animation: sun 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
.moonAnimRev{
  animation: moonrev 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
.sunAnimRev{
  animation: sunrev 500ms ease-in forwards;
  transform-origin: 50px 120px;
}
@keyframes sun {
  0% {
    transform: scale(1);
    stroke-dashoffset: 0;
  }
  100% {
    transform: scale(2.4);
    stroke-dashoffset: 19.9;
  }
}
@keyframes moon {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-70px, 70px);
  }
}
@keyframes sunrev {
  0% {
    transform: scale(2.4);
    stroke-dashoffset: 19.9;
  }
  100% {
    transform: scale(1);
    stroke-dashoffset: 0;
  }
}
@keyframes moonrev {
  0% {
    transform: translate(-70px, 70px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/*______ mobilversjon ______*/
@media (max-width: 740px) or (orientation: portrait){
  main{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: space-between;
    width: clamp(340px, 600px, 70%);
    margin-inline: auto;
  }
  h1 {/* Tittel */
    font-size: 2rem;
  } 
  h2 {/* Dager */
    font-size: 1.7rem;
  } 
  h3 {/* Fagtittel */
    font-size: 1.2rem;
  } 
  h4 {/* Dato */
    font-size: 1.2rem;
  } 
  h5 {/* lærer */
    font-size: 1rem;
  } 
  h6 {/* klokkelsett */
    font-size: .6rem;
  } 
  p {/* brødtekst */
    font-size: .8rem;
  }
  .ikon {
    width: 3.4rem;
  }
  .ramme{
    padding-inline: 1.2vw;
    padding-block: .8vw;
  }
  .man,
  .tir,
  .ons,
  .tor,
  .fre{
    background-color: var(--clr-fremheving);
  }
} 